{% extends 'basic_new.html' %}
{% load static %}

{% block content %}
<div class="edgtf-content" style="margin-top: -90px">
                <div class="edgtf-content-inner">
<div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top edgtf-has-bg-image edgtf-bg-parallax" style="height: 645px; background-color: rgb(24, 24, 24); background-image: url('{% static '/images/about_img1.jpg' %}'); background-position: center 0px;" data-height="645">
			<div class="edgtf-title-image">
			<img itemprop="image" src="{% static '/images/about_img1.jpg' %}" alt="c">
		</div>
		<div class="edgtf-title-wrapper">

	</div>
</div>


<div class="edgtf-full-width">
    	<div class="edgtf-full-width-inner">
        				<div class="edgtf-row-grid-section">

                 <h1 align="center" style="margin-top: 20px;">О проекте SCUM SURVIVAL</h1>
                <div>
Вы один из заключенных, направленный на закрытый остров, чтобы участвовать в кровавой бойне, которая будет показана по кабельному телеканалу.

Здесь царит мир беспрецедентных возможностей, где уровень получаемых навыков и опыта являются залогом дальнейшего выживания игрока.

Наш сервер RUSSIA SURVIVAL [HARDCORE] прежде всего отличается от других - созданной атмосферой выживания на острове.

Большое количество серверов SCUM - это аналоги PUBG. Где можно бездумно лутаться и идти стреляться, не о чем не думая, не боясь ни за что.

Но мы считаем, что для бездумных PvP есть другие игры - CS, PUBG, ROE..

SCUM - это выживание, SCUM - SURVIVAL!

     <div>
<img style="margin: 20px 0px 20px 0;" src="{% static '/images/about_img2.jpg' %}" alt="О проекте SCUM SURVIVAL">

                </div>


 Что бы устроить PvP - вам необходимо будет тщательно подготовиться. Проверьте сперва свои силы на Мероприятиях (Внутри игровые ивенты).

Есть безопасная зона - полуостров в секторе А1-А2 - Маяк. Тут запрещены любые насильственные действия! Запрещено грабить и убивать!

Зеленая зона — маяк А1
В случае обнаружения преступлений в безопасной зоне, вас могут ждать наказания: смертная казнь в тюрьме, штрафы.

Здесь ВСЕ новички могут легко получить первую помощь, еду, воду, медикаменты, какую-нибудь одежду.

Также найти себе компанию! И вместе отправится выживать!

Каждый зарегистрированный участник проекта - получает зарплату за каждый проведенный день на острове.

Полученную виртуальную валюту можно использовать для приобретения различной экипировки.

Рейтинг игрока влияет на доступность товара в BlackMarket.


 <div>
<img style="margin: 20px 0px 20px 0;" src="{% static '/images/about_img3.jpg' %}" alt="О проекте SCUM SURVIVAL">

                </div>
Остров заполонен зомби. Игроки входя в город, военную базу, любой населенный пункт могут обнаружить много сильных и агрессивных зомби. Будьте осторожны!

Битва с зомби не так проста, как кажется..
Просто так вступить в бой c зомби не всегда получится! Нужно быть подготовленным бойцом, с хорошо развитым навыком рукопашной битвы или иметь хоть какое оружие.

Что бы выжить на острове, собрать всю необходимую экипировку, оружие и боеприпасы необходимо пройти несколько локаций.

Нужно будет подумать, что бы пойти лутаться на военную базу.
В населенных пунктах можно пополнить запасы еды и медикаментов, найти немного одежды. Возможно получиться найти какое-то оружие.

Смотрите - кто-то забыл гитару, можете попробовать сыграть что-нибудь, только будьте осторожней - зомби не дремлют, да и другие игроки.

Люди в спешке, при эвакуации с острова оставляли в домах все. Вам может повезти и вы найдете на парковке или в гараже брошенный внедорожник, на котором вы можете отправиться исследовать остров!

Машин на территории острова много, можно взять себе и загнать в пещеру, где устроить убежище. Ну или если вы смельчак - можете оставить в городе, в одном из гаражей.

Машины можно найти в гаражах, на парковках и просто брошенными на территории острова
Каждый игрок сервера влияет на обстановку на острове.

Стоит пополнить запасы еды, медикаментов и одежды в безопасной зоне до определенного уровня - и вы заметите, увеличение нахождения предметов в локациях.

При больших запасах медикаментов - ученые возьмутся за разработку вакцины, которая по разному может повлиять на зомби:
<ul class="list">
    <li>ослабить зомби;</li>
    <li>уменьшить количество;</li>
</ul>

При не успешном проведении разработки, эффект может быть другой!

Сыгранные Игроки объединяются в отряды. Можно заявить о себе и сообщить организаторам о создании отряда.

Отряды имеют ряд преимуществ:
<ul class="list">
    <li>за владение территорией получают доступ к определенным товарам;</li>
    <li>отряды создают общак, на который могут повышать свой уровень и открывать новые возможности!;</li>
    <li>между отрядами происходят битвы за территории;</li>
    <li>отряды получают закрытый канал для общения;</li>
    <li>отряды могут получить задания от организаторов - и получить вознаграждение;</li>
    <li>еженедельно отряду выдается форма отряда (экипировка);</li>

</ul>
                     <div>
<img style="margin: 20px 0px 20px 0;" src="{% static '/images/about_img4.jpg' %}" alt="О проекте SCUM SURVIVAL">

                </div>
Особые зоны - бункеры, военные наполнены зомби. Так же по периметру патрулируют роботы, которые при обнаружении игрока отрывают огонь на поражение.

Так же будьте осторожны, звуки выстрелов роботов могут привлечь не только зомби, но других игроков! Оружие роботов способно пробивать двери, окна, ангары.

При обнаружении цели - робот будет преследовать вас, до тех пор, пока вы не успокоитесь и не затаитесь!

Игроки, собравшие определенное количество металла - так же влияют на ход разработки систем противодействия роботам.

Собрав металл в безопасной зоне, можно добиться уменьшения урона от роботов или полного их отключения.

Организаторы часто проводят мероприятия (о проводимых мероприятиях публикуются анонсы на сайте и в Discord):
<ul class="list">
    <li>турнир UFC, с выявлением чемпиона сервера!</li>
    <li>Бои ММА;</li>
    <li>Штурм городов;</li>
    <li>гонки на машинах;</li>
    <li>Побег</li>
    <li>и другие (подробности в канале Discord)</li>



</ul>
                       <div>
<img style="margin: 20px 0px 20px 0;" src="{% static '/images/about_img5.jpg' %}" alt="О проекте SCUM SURVIVAL">

                </div>
                    Отряды устраивают битвы за территории.

Доступность категорий товаров для отрядов зависит от активной деятельности.

Нахождение отрядов в дискорде желательно, для быстрой связи организаторов с участниками.

Так же нахождение в дискорде влияет на доступность товаров в BlackMarket.

Сервер модерируется, постоянно следим за читерами!

Активно сотрудничаем с разработчиками и получаем самые первые и эксклюзивные новости о развитии игры!

Присоединяйся! Испытай свои силы! докажи, что способен выжить!
                </div>
  <h3 id="how_to_connect" align="center" style="margin-top: 20px;">Как подключиться к серверу</h3>
                <div>
                    <p>Название сервера: RU/EU SURVIVAL [HARDCORE<br>
IP сервера: 91.218.244.108:28402<br>
Прямая ссылка на подключение (копируем и вставляем в браузерную строку, работает не у всех): steam://connect/91.218.244.108:28402<br>
Кол-во слотов: 64<br>
Связь с Администрацией Сервера только через наш<a href="https://discord.gg/sgUz53k" target="_blank"> Дискорд</a> </p>
<img src="{% static '/images/connect.jpg' %}" alt="Как подключиться к серверу SCUM SURVIVAL">
                </div>
            </div>
        </div>

    </div>


</div> <!-- close div.content_inner -->
	</div>
{% endblock %}