{% extends 'basic.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <a href="{% url "logout" %}">Logout</a>
    <br>
    Hello, {{ user.personaname }}
      <p>Hello {{ user.avatar }}!</p>
{% else %}
    <a href="{% url "social:begin" "steam" %}">Sign in with Steam</a>
{% endif %}

<div class="msp_post_slider" id="amateurs-slider">

    <div class="owl-carousel owl-theme" role="listbox">

        <div style=" background: url({% static 'images/slide1.jpg' %}) no-repeat;" class="item msp_post_slide slide-1" >
            <div class="slider-caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 home_page_slider_div">
                            <div>
                             <h1 class="title">SCUM</h1>
                            <div class="sub-title">

                               Смертная казнь или 15 минут славы…? - девиз реалити-шоу SCUM. Некогда обитамый остров превратился в съемочную площадку самого жёсткого , но с бешенными рейтингами шоу.
                            </div>
                            </div>

                            <a href="/" class="btn">
                                ПОДРОБНЕЕ О ИГРЕ
                            </a>
                             <a href="/" class="btn btn-danger">
                                КУПИТЬ В STEAM
                            </a>
                             <a href="/" class="btn">
                                ГРУППА В STEAM
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>

    <div class="progress-line"><div class="bar"></div></div>
</div>


<div class="main-breaking-news">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="break-title"><span>НОВОСТИ ПРОЕКТА</span></div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div id="main-breaking-list" class="carousel slide main-breaking-list" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="news-single.html">
                                <span class="date">20 Sep 2016 <span>/</span></span>
                                <span class="news"><img src="images/common/news-youtube-icon.png" alt="news-youtube">Revenge is sweet: Great matchday four recoveries</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="news-single.html">
                                <span class="date">22 Sep 2016 <span>/</span></span>
                                <span class="news">Revenge is sweet: Great matchday four recoveries</span>
                            </a>
                        </div>
                    </div>
                    <div class="arrow-wrap">
                        <!-- Controls -->
                        <a class="nav-arrow left-arrow" href="#main-breaking-list" role="button" data-slide="prev">
                            <i class="fa fa-caret-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="nav-arrow right-arrow" href="#main-breaking-list" role="button" data-slide="next">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="success-story-cybersport" style=" background: url({% static 'images/home_bg1.png' %}) 0% 50% no-repeat #f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                                     <h4>ИГРОВОЙ СЕРВЕР <br>SCUM</h4>
                <p>Мы приглашаем игроков для совместной игры в Scum. В нашем дискорде всегда можно найти новых друзей для совместной охоты, а также новых врагов :). На просторах нашего сервера мы проводим различные ивенты, а в группе ВК конкурсы с ценными внутриигровыми призами.</p>

<p>Наша задача - обеспечить приятное времяпровождение в игре через взаимодействие с приятными людьми.</p>

<p>Наша структура - как серьёзные геймеры, нацеленные только на достижения в игре, так и весёлые игроки, которые пришли для получения удовольствия от игры с друзьями, напарниками и приятными людьми - участниками сообщества.</p>


            </div>

            <div class="col-md-5">
                <div class="wrap position-relative">
                    <div class="cybersport-slogan">
                        <div class="title">Стремимся</div>
                        <div class="big-title">стать лучше</div>
                        <p>Мы всегда открыты для Ваших предложений и вопросов, связаться с нами можно в любой момент в <a href="http://discord.me/gamescum">Дискорд-сервере</a> или группы ВК.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="main-match-shedule amateurs-match-shedule">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="amateurs-main-match">
                    <div class="title">Premier League - Round 28</div>
                    <div class="team">
                        <div class="avatar"><img src="images/soccer/team-logo1.png" alt="team-logo"></div>
                        <div class="text">
                            <span class="name">Internacional</span>
                            <span class="city">london</span>
                        </div>
                    </div>
                    <div class="score">
                        3:2
                    </div>
                    <div class="team guest">
                        <div class="text">
                            <span class="name">Arsenal</span>
                            <span class="city">Lyon</span>
                        </div>
                        <div class="avatar"><img src="images/soccer/team-logo2.png" alt="team-logo"></div>
                    </div>
                    <div class="title">26 september / 8:45 PM</div>
                </div>
            </div>
            <div class="col-md-12"><h6>Latest matches</h6></div>
            <div class="col-md-12">
                <ul class="tab-filters" role="tablist">
                    <li class="active"><a href="#nationalcup" role="tab" data-toggle="tab">National cup</a></li>
                    <li><a href="#championship" role="tab" data-toggle="tab">Championship</a></li>
                    <li><a href="#friendlies" role="tab" data-toggle="tab">Friendlies</a></li>
                     <li><a href="#showall" role="tab" data-toggle="tab">Show all</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="nationalcup" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 </span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="championship" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 Internacionasal</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="friendlies" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>2:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo1.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:3</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo2.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="showall" role="tabpanel">
                    <div class="col-md-12">
                        <div class="main-lates-matches">
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 </span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">National cup - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1 </span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2 Internacionasal</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Championship - quarterfinal</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo3.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>2:2</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo4.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>
                            <a href="matches.html" class="item">
                                <span class="championship">Friendly match</span>
                                <span class="teams-wrap">
                                    <span class="team"><span><img src="images/soccer/team-logo1.png" alt="team-logo"></span><span>Team 1</span></span>
                                    <span class="score"><span>3:3</span></span>
                                    <span class="team1"><span>Team 2</span><span><img src="images/soccer/team-logo2.png" alt="team-logo"></span></span>
                                </span>
                                <span class="game-result">(5-4) penalties</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-club-stuff amateurs-club-stuff">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>club stuff</h4>
                <ul class="tab-filters" role="tablist">
                    <li class="active">
                        <a href="#managers" role="tab" data-toggle="tab">
                            Managers
                        </a>
                    </li>
                    <li>
                        <a href="#firstteam" role="tab" data-toggle="tab">
                            First team
                        </a>
                    </li>
                    <li>
                        <a href="#academy" role="tab" data-toggle="tab">
                            Academy
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="managers" role="tabpanel">
            <div id="managers_carousel" class="carousel slide main-stuff-slider" data-ride="carousel" >
                <div class="carousel-inner" role="listbox" >
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marshman</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#managers_carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#managers_carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="academy" role="tabpanel">
            <div id="academy_carousel" class="carousel slide main-stuff-slider" data-ride="carousel" >
                <div class="carousel-inner" role="listbox" >
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Vito<br>Palet</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Melet</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marse</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marsan</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Luscas<br>Mars</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Mafo</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#academy_carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#academy_carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="firstteam" role="tabpanel">
            <div id="firstteam_carousel" class="carousel slide main-stuff-slider" data-ride="carousel" >
                <div class="carousel-inner" role="listbox" >
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">James<br>Deshon</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Deshon<br>James</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">James<br>Deshon</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucas<br>Marsh</span>
                                                <span class="position">Left Forward</span>
                                                <span class="number">14</span>
                                            </span>
                                            <img src="images/soccer/player-3.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Luca<br>Mas</span>
                                                <span class="position">Left Midfielder</span>
                                                <span class="number">8</span>
                                            </span>
                                            <img src="images/soccer/player-2.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 ">
                                    <div class="staff-item">
                                        <a href="player.html">
                                            <span class="info">
                                                <span class="name">Lucasoto<br>Marsh</span>
                                                <span class="position">Central Attacking Midfielder</span>
                                                <span class="number">7</span>
                                            </span>
                                            <img src="images/soccer/stuff-person.jpg"  alt="person-slider">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="nav-arrow left-arrow" href="#firstteam_carousel" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="nav-arrow right-arrow" href="#firstteam_carousel" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="success-story amateurs-success-story">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h4>success story <br>began here</h4>
                <p>Pabst irony tattooed, synth sriracha selvage pok pok. Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep mixtape semiotics brunch. </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="icon"><img src="images/common/success-icon.png" alt="success-icon"></div>
                        <div class="title">Legendary</div>
                        <p>Next level paleo taxidermy, bespoke messenger bag leggings occupy food truck. </p>
                    </div>
                    <div class="col-md-6">
                        <div class="icon"><img src="images/common/success-icon1.png" alt="success-icon"></div>
                        <div class="title">fabulous</div>
                        <p>Wayfarers kinfolk sartorial, helvetica you probably haven't heard of them tumeric venmo deep v mixtape semiotics brunch. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="wrap position-relative">
                    <div class="amateurs-success-slogan">
                        <div class="title">Children and Youth</div>
                        <div class="big-title">Academy</div>
                        <a href="about-club.html" class="btn">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="amateurs-award-box">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="text">
                    <div class="title">visit our</div>
                    <div class="big-title">Trophy room</div>
                    <p>Snackwave tote bag fixie gluten-free, affogato master cleane cronut portland prism knausgaard.  Chartreuse fingerstache gentrify you probably</p>
                    <a href="trophies.html" class="btn">Details</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="am-trophey">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <img src="images/common/am-trophey.png" alt="am-trophey">
                                <div class="name">National cup</div>
                                <div class="year">2010</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <img src="images/common/am-trophey1.png" alt="am-trophey">
                                <div class="name">Championship trophy</div>
                                <div class="year">2012</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="item">
                                <img src="images/common/am-trophey2.png" alt="am-trophey">
                                <div class="name">Super cup</div>
                                <div class="year">2017</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="main-club-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Club Gallery</h4>
            </div>
            <div class="col-md-6 text-right">
                <div class="owl-carousel-arrows">
                    <div class="custom-navigation">
                        <a class="custom-next-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></a>
                        <a class="custom-prev-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme club-gallery-slider">
                    <div class="item">
                        <div class="isotope-grid row">
                            <div class="col-md-6 col-sm-6 col-xs-12 grid-item">
                                <a href="about-club.html">
                                    <div class="info">
                                        <span class="date">20 sep 2016</span>
                                        <p>Fight for the ball in midfield</p>
                                    </div>
                                    <img src="images/soccer/club-gallery-img.jpg" alt="club-gallery">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item grid-sizer">
                                <a href="about-club.html">
                                    <div class="info">
                                        <span class="date">20 sep 2016</span>
                                        <p>Fight for the ball in midfield</p>
                                    </div>
                                    <img src="images/soccer/club-gallery-img1.jpg" alt="club-gallery">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="about-club.html">
                                    <div class="info">
                                        <span class="date">20 sep 2016</span>
                                        <p>Fight for the ball in midfield</p>
                                    </div>
                                    <img src="images/soccer/club-gallery-img3.jpg" alt="club-gallery">
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="about-club.html"><img src="images/soccer/club-gallery-img4.jpg" alt="club-gallery"></a>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-12 grid-item">
                                <a href="about-club.html"><img src="images/soccer/club-gallery-img5.jpg" alt="club-gallery"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="isotope-grid row">
                            <div class="col-md-6 col-sm-6 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item grid-sizer">
                                <a href="#"><img src="images/soccer/club-gallery-img1.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img2.jpg" alt="club-gallery"></a>
                            </div>
                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img4.jpg" alt="club-gallery"></a>
                            </div>

                            <div class="col-md-3 col-sm-3 grid-item">
                                <a href="#"><img src="images/soccer/club-gallery-img5.jpg" alt="club-gallery"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<div class="am-sponsor-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p class="text">Whatever copper mug etsy, tilde listicle hammock gastropub literally franzen fanny pack typewriter meditation.<br> Organic chartreuse bicycle rights pinterest, cray humblebrag fap gochujang church-key brooklyn food truck letterpress cred. </p>
                </div>
                <div class="col-xs-3 text-center">
                    <img  class="sponsor-icons" src="images/common/sponsor-img3.png" alt="sponsor image">
                </div>
                <div class="col-xs-3 text-center">
                    <img class="sponsor-icons" src="images/common/sponsor-img.png" alt="sponsor image">
                </div>
                <div class="col-xs-3 text-center">
                    <img  class="sponsor-icons" src="images/common/sponsor-img1.png" alt="sponsor image">
                </div>
                <div class="col-xs-3 text-center">
                    <img  class="sponsor-icons" src="images/common/sponsor-img2.png" alt="sponsor image">
                </div>
            </div>
        </div>
    </div>


<div class="amateurs-news-list">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h4>Team news</h4></div>
            <div class="col-md-10 col-xs-9">
                <ul class="tab-filters" role="tablist">
                    <li class="active"><a href="#news" role="tab" data-toggle="tab">News</a></li>
                    <li><a href="#highlights" role="tab" data-toggle="tab">Highlight</a></li>
                    <li><a href="#interviews" role="tab" data-toggle="tab">interviews</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-3 text-right">

                <a id="show-all-link" href="news.html">Show all</a>

            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="news" role="tabpanel">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news1.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news2.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news3.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="highlights" role="tabpanel">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news2.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Test Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news3.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news1.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="interviews" role="tabpanel">
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news1.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news3.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item">
                            <a href="news-single.html" class="img-wrap"><img src="images/soccer/news2.jpg" alt="news-single"></a>
                            <a href="news-single.html" class="name">Bauza: Bozo and Topolo will start against Intertupo</a>
                            <div class="date"><a href="news-single.html">25 Sep 2016</a> by <a href="news-single.html">Logan Holmes</a></div>
                            <p>Snackwave tote bag fixie gluten-free, affogato master cleanse cronut portland prism knausgaard.</p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


{% endblock %}