{% extends 'basic.html' %}
{% load static %}

{% block content %}


   <!-- Hero Unit
		================================================== -->
        <div class="hero-unit">
            <div class="container hero-unit__container" style="background: #27313b url({% static 'images/slide2.jpg' %});
                    background-size: cover;
     max-width: 100%;
     width: 100%;">
{#                <div class="hero-unit__content hero-unit__content--left-center"><span class="hero-unit__decor"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>#}
{#                    <h5 class="hero-unit__subtitle">ИГРОВОЙ СЕРВЕР</h5>#}
{#                    <h1 class="hero-unit__title"><span class="text-primary">SCUM</span></h1>#}
{#                    <div class="hero-unit__desc">Атмосфера выживания! Интересный сюжет для игроков сервера! Отсутствие читеров. Постоянный мониторинг сервера!</div><a href="#" class="btn btn-inverse btn-sm btn-outline btn-icon-right btn-condensed hero-unit__btn">КУПИТЬ В STEAM <i class="fa fa-steam-square text-primary"></i></a></div>#}
{#                <figure class="hero-unit__img"><img src="{% static 'images/scum_man.png' %}" alt="Hero Unit Image"></figure>#}
            </div>
        </div>
        <!-- Header Featured News
		================================================== -->

<div class="marquee-wrapper">
    <div class="container"><div class="marquee-label">НОВОСТИ СЕРВЕРА</div>

  <div class="marquee" data-duplicated='true' data-gap="10" data-duration="10000">
      <ul class="posts posts--inline">
     {% for news_item in news %}
          <li class="posts__item"><h6 class="posts__title">
       <a href="{{ news_item.post_url }}" target="_blank">{{ news_item.post_name }}</a></h6>

          </li>
          {% endfor %}
      </ul>
  </div>

    </div>
</div>



      <div class="site-content">
          <div class="container">
            <div class="row">
                <div class="content col-md-8">
                    <div class="widget card widget--sidebar widget-standings">
    <div class="widget__title card__header card__header--has-btn">
        <h4>SCUM SURVIVAL</h4><a href="{% url 'about_us'  %}" class="btn btn-default btn-outline btn-xs card-header__button">ПОДРОБНЕЕ</a></div>
    <div style="padding: 20px 20px 20px 20px;" class="widget__content card__content">
        <img class="home_promo_img" src="{% static 'images/home_promo.png' %}">
      <p style="text-align: justify;">
         Вы один из заключенных, направленный на закрытый остров, чтобы участвовать в кровавой бойне, которая будет показана по кабельному телеканалу.

«Хлеба и зрелищ» - просили они.

«Неутолимая жажда развлечений человечества обернулась жаждой крови:

гигант индустрии TEC1 вот-вот начнёт премьерный показ второго сезона своей телесенсации SCUM.

Новый сезон перенесёт соревнование из замкнутого пространства сурового Алькатраса на остров Бань де Кайен (Bagne de Cayenne),

          печально известный бесчеловечным обращением с заключёнными.</p>

<p style="text-align: justify;">Как уже полюбившиеся поклонникам, так и новые осуждённые столкнутся в беспощадной войне за выживание и поддержку зрителей, продюсеров и спонсоров».

Здесь царит мир беспрецедентных возможностей, где уровень получаемых навыков и опыта являются залогом дальнейшего выживания.</p>

<p style="text-align: justify;">Наш сервер RUSSIA SURVIVAL [HARDCORE] прежде всего отличается от других - созданной атмосферой выживания на острове.

Большое количество серверов SCUM - это аналоги PUBG. Где можно бездумно лутаться и идти стреляться, не о чем не думая, не боясь ни за что.

    Но мы считаем, что для бездумных PvP есть другие игры - CS, PUBG, ROE..</p>

<p style="text-align: justify; font-family: scum_font;
    text-align: justify;
    color: #fc8318;
    text-align: center;
    font-size: 20px;
">RUSSIA SCUM SURVIVAL</p>

    </div>
</div>
                </div>
                <div class="content col-md-4">
                  <aside class="widget card widget--sidebar widget-player widget-player--alt">
                        <div class="widget__title card__header card__header--has-btn">
                            <h4>СТАТУС СЕРВЕРА</h4><a href="{% url 'about_us' %}#how_to_connect" class="btn btn-default btn-outline btn-xs card-header__button">КАК ПОДКЛЮЧИТЬСЯ?</a></div>
                        <div class="widget__content card__content">
                                <img class="server_status_img" src="{%  static 'images/logo.png' %}" alt="">

                            <header class="widget-player__header clearfix">
                                {% if status == 'online' %}
                                       <div class="server_status_div_online"></div>
                                       <h4 class="widget-player__name server_status_text"><span class="widget-player__first-name">СЕРВЕР</span> <span class="widget-player__last-name">ONLINE</span></h4>
                                    </header>

                                {% else %}
                                <div class="server_status_div_offline"></div>
                                       <h4 class="widget-player__name server_status_text"><span class="widget-player__first-name">СЕРВЕР</span> <span class="widget-player__last-name">OFFLINE</span></h4>
                                    </header>
                                {% endif %}
                              <div class="widget-player__content">
                                <div style="    margin-left: 30px;">
                                    <div class="widget-player__stat widget-player__assists">
                                        <h6 class="widget-player__stat-label">ИГРОКОВ</h6>
                                        <div class="widget-player__stat-number">{{ players }}</div>

                                    </div>
                                    <div class="widget-player__stat widget-player__steals">
                                        <h6 class="widget-player__stat-label">РАНГ</h6>
                                        <div class="widget-player__stat-number">{{ rank }}</div>

                                    </div>
                                    <div style="width: 50% !important;" class="widget-player__stat widget-player__blocks">
                                        <h6 class="widget-player__stat-label">IP</h6>
                                        <div class="widget-player__stat-number">{{ ip }}</div>

                                    </div>
            </div>
        </div>

        <footer class="widget-player__footer"><span class="widget-player__footer-txt"><a style="padding: 2px;" class="btn btn-warning btn-outline btn-xs" href="steam://connect/91.218.244.112:28402">ПОДКЛЮЧИТЬСЯ</a></span></footer>
    </div>



</aside>
                 <aside class="widget card widget--sidebar widget-standings">
    <div class="widget__title card__header card__header--has-btn">
        <h4>ПОЛИЦЕЙСКАЯ СВОДКА</h4></div>
    <div class="widget__content card__content">
        <div class="table-responsive">
            <table class="table table-hover ">



                    <tr>
                       <td>Обезврежено :</td>
                        <td>{{ policestat.obez }}</td>

                    </tr>
                  <tr>
                       <td>Жертвы :</td>
                        <td>{{ policestat.victim }}</td>

                    </tr>
                  <tr>
                       <td>Изъято оружия :</td>
                        <td>{{ policestat.izyato }}</td>

                    </tr>


            </table>
        </div>
    </div>
</aside>

                <aside class="widget card widget--sidebar widget-standings">
    <div class="widget__title card__header card__header--has-btn">
        <h4>ТОП 5 ИГРОКОВ</h4><a href="{% url 'players' %}#main_tab" class="btn btn-default btn-outline btn-xs card-header__button">ВСЕ ИГРОКИ</a></div>
    <div class="widget__content card__content">
        <div class="table-responsive">
            <table class="table table-hover table-standings">
                <thead>
                    <tr>
                        <th>НИК</th>
                        <th>K</th>
                        <th>D</th>
                        <th>R</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in top3 %}
                    <tr>
                        <td>
                            <div class="team-meta">
                                <figure class="team-meta__logo"><img src="{{ player.avatar }}" alt="ТОП 3 игроков сервера SCUM"></figure>
                                <div class="team-meta__info">
                                    <h6 class="team-meta__name">{{ player.personaname }}</h6><span class="team-meta__place"><a href="{% url 'profile' player.nickname%}">ПРОФИЛЬ</a></span></div>
                            </div>
                        </td>
                        <td>{{ player.kills }}</td>
                        <td>{{ player.deaths }}</td>
                        <td>{{ player.rating }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</aside>


                </div>
          </div>




                <!-- Featured News -->

           <div class="row">
                    <!-- Content -->
                    <div class="content col-md-12">
                        <!-- Posts Grid -->
                        <div class="posts posts--cards post-grid post-grid--masonry row">
                            {% for n in news %}
                            <div class="post-grid__item col-sm-4">
                                <div class="posts__item posts__item--card posts__item--category-1 card">
                                    <figure class="posts__thumb">

                                        <a href="{{ n.post_url }}"><img src="{{ n.post_image }}" alt=""></a>
                                    </figure>
                                    <div class="posts__inner card__content">
                                        <a href="{{ n.post_url }}" class="posts__cta"></a>

                                        <h6 class="posts__title"><a href="{{ n.post_url }}">{{ n.post_name }}</a></h6></div>

                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
           </div>
                <!-- Featured News / End -->
        <!-- Content
		================================================== -->

            </div>
      </div>
{% endblock %}