{% extends 'basic.html' %}
{% load static %}

{% block content %}


   <!-- Hero Unit
		================================================== -->
        <div class="hero-unit">
            <div class="container hero-unit__container" style="background: #27313b url({% static 'images/slide1.jpg' %});
                    background-size: cover;
     max-width: 100%;
     width: 100%;">
{#                <div class="hero-unit__content hero-unit__content--left-center"><span class="hero-unit__decor"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>#}
{#                    <h5 class="hero-unit__subtitle">ИГРОВОЙ СЕРВЕР</h5>#}
{#                    <h1 class="hero-unit__title"><span class="text-primary">SCUM</span></h1>#}
{#                    <div class="hero-unit__desc">Атмосфера выживания! Интересный сюжет для игроков сервера! Отсутствие читеров. Постоянный мониторинг сервера!</div><a href="#" class="btn btn-inverse btn-sm btn-outline btn-icon-right btn-condensed hero-unit__btn">КУПИТЬ В STEAM <i class="fa fa-steam-square text-primary"></i></a></div>#}
{#                <figure class="hero-unit__img"><img src="{% static 'images/scum_man.png' %}" alt="Hero Unit Image"></figure>#}
            </div>
        </div>
        <!-- Header Featured News
		================================================== -->

<div class="marquee-wrapper">
    <div class="container"><div class="marquee-label">НОВОСТИ СЕРВЕРА</div>

  <div class="marquee" data-duplicated='true' data-gap="10" data-duration="10000">
      <ul class="posts posts--inline">
      <li class="posts__item"><h6 class="posts__title"><a href="_football_blog-post-1.html">The Clover defense must reinvent itself without Adam Howlett</a></h6><div class="posts__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing...</div></li>
      <li class="posts__item"><h6 class="posts__title"><a href="_football_blog-post-1.html">The Clover defense must reinvent itself without Adam Howlett</a></h6><div class="posts__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing...</div></li>
      <li class="posts__item"><h6 class="posts__title"><a href="_football_blog-post-1.html">The Clover defense must reinvent itself without Adam Howlett</a></h6><div class="posts__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing...</div></li>
      </ul>
  </div>

    </div>
</div>

        <div class="posts posts--carousel-featured featured-carousel">
          {% for n in news  %}
            <div class="posts__item posts__item--category-1">

                <a href="#" class="posts__link-wrapper">
                    <figure class="posts__thumb"><img src="{{ MEDIA_URL }}{{  n.image }}" alt=""></figure>
                    <div class="posts__inner">
                        <div class="posts__cat"><span class="label posts__cat-label">{{ n.tag }}</span></div>
                        <h3 class="posts__title">{{  n.name }}</h3>
                        <time datetime="2017-08-23" class="posts__date">{{  n.created_at }}</time>
                        <ul class="post__meta meta">
                            <li class="meta__item meta__item--views">2369</li>
                            <li class="meta__item meta__item--likes"><i class="meta-like icon-heart"></i> 530</li>
                            <li class="meta__item meta__item--comments">18</li>
                        </ul>
                    </div>
                </a>

            </div>
            {% endfor %}
        </div>
        <!-- Content
		================================================== -->

{% endblock %}