{% extends 'basic.html' %}
{% load static %}

{% block content %}
     <!-- Page Heading
		================================================== -->
        <div class="page-heading" style="background-image: url({% static 'images/home_bg1.png' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h1 class="page-heading__title font_scum">ПРОФИЛЬ <span class="highlight">ИГРОКА</span></h1>
                        <ol class="page-heading__breadcrumb breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Профиль игрока</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Heading / End -->
        <!-- Content
		================================================== -->
        <div class="site-content">
            <div class="container">
                <div class="row">
                    <!-- Content -->
                    <div class="content col-md-12">
                        <!-- Staff Member -->
                        <div class="card card--clean alc-staff">
{#                            <div class="card__header card__header--has-btn">#}
{#                                <h4>Ин</h4><a class="btn btn-default btn-outline btn-xs card-header__button" href="#" title="Go to the Team">Go to the Team</a>#}
{#                            </div>#}
                            <div class="card__content">
                                <div class="card mb-0">
                                    <div class="card__content">
                                        <div class="row">
                                            <div class="col-md-12">
                                        <div class="widget card widget--sidebar widget-player widget-player--alt">
                                                    <div class="widget__content card__content">
                                                        <div class="widget-player__team-logo"><img src="{{ player.avatarfull }}" alt=""></div>
                                                        <figure class="widget-player__photo"><img src="{{ player.avatarfull }}" alt=""></figure>
                                                        <header class="widget-player__header clearfix">
                                                            <div class="widget-player__number"></div>
                                                            <h4 class="widget-player__name"><span class="widget-player__last-name">{{ player.personaname }}</span></h4></header>
                                                        <div class="widget-player__content">
                                                            <div class="widget-player__content-inner">
                                                                <div class="widget-player__stat widget-player__assists">
                                                                    <h6 class="widget-player__stat-label">Убийств</h6>
                                                                    <div class="widget-player__stat-number">{{ player.kills }}</div>
                                                                    <div class="widget-player__stat-legend">AVG</div>
                                                                </div>
                                                                <div class="widget-player__stat widget-player__steals">
                                                                    <h6 class="widget-player__stat-label">Смертей</h6>
                                                                    <div class="widget-player__stat-number">{{ player.deaths }}</div>
                                                                    <div class="widget-player__stat-legend">AVG</div>
                                                                </div>
                                                                <div class="widget-player__stat widget-player__blocks">
                                                                    <h6 class="widget-player__stat-label">Рейтинг</h6>
                                                                    <div class="widget-player__stat-number">{{ player.rating }}</div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <footer class="widget-player__footer"><span class="widget-player__footer-txt">Дата регистрации: {{ player.date_joined }}</span></footer>
                                                    </div>
                                                </div>
                        </div>

                                            </div>
                                            <div class="col-md-12">
                                                <div class="alc-staff-inner">


                                                    <dl class="alc-staff-details">
                                                    <dt class="alc-staff-details__label">Уровень игрока:</dt><dd class="alc-staff-details__value">{{ player.level }}</dd>
                                                        <dt class="alc-staff-details__label">Discord ID:</dt><dd class="alc-staff-details__value">{{ player.discord_id }}</dd>
                                                        <dt class="alc-staff-details__label">Steam профиль:</dt><dd class="alc-staff-details__value"><a href="{{ player.profileurl }}" target="_blank"> ССЫЛКА</a></dd>
                                                        <dt class="alc-staff-details__label">Звание:</dt><dd class="alc-staff-details__value">{{ player.rank }}</dd>
                                                        <dt class="alc-staff-details__label">VAC-баны:</dt><dd class="alc-staff-details__value">{{ player.kills }}</dd>
                                                        <dt class="alc-staff-details__label">Время в игре (часов):</dt><dd class="alc-staff-details__value">{{ player_play_time }}</dd>
                                                        <dt class="alc-staff-details__label">Отряд:</dt><dd class="alc-staff-details__value">
                                                        {% if squad_info %}
                                                            {{ squad_info.name }}
                                                        {% else %}
                                                           нет
                                                        {% endif %}


                                                    </dd>
                                                    </dl>
                                                    <div class="alc-staff-excerpt">{{ player.info }}</div>
                                                    <!-- Details / End -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% if own_profile %}
                    <div class="content col-md-12">




                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Content / End -->
{% endblock %}