{% extends 'basic_new.html' %}
{% load static %}

{% block content %}
    <div class="edgtf-content" style="margin-top: -90px">
        <div class="edgtf-content-inner">
            <div class="edgtf-full-width">
                <div class="edgtf-full-width-inner">
                    <div class="edgtf-grid-row">
                        <div class="edgtf-page-content-holder edgtf-grid-col-12">
                            <div data-parallax-bg-image="{% static '/images/rulz.png' %}" data-parallax-bg-speed="1" class="vc_row wpb_row vc_row-fluid edgtf-parallax-row-holder" style="background-image: url('{% static '/images/rulz.png' %}'); background-position: 50% -240px;"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-8889" data-1367-1600="15% 25% 15% 25%" data-1025-1366="17% 23% 17% 23%" data-769-1024="20% 0% 20% 0%" data-681-768="20% 0% 20% 0%" data-680="20% 10% 20% 10%">
                                <div class="edgtf-eh-item-inner">
                                    <div class="edgtf-eh-item-content edgtf-eh-custom-8889" style="padding: 14% 25% 11% 25%">

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h1 style="font-family: scum_font,sans-serif;" >ПРАВИЛА СЕРВЕРА<br><span style="font-family: scum_font,sans-serif; color: #ff7e1f">SCUM SURVIVAL</span></h1>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></div></div></div></div></div><div class="edgtf-row-grid-section-wrapper "><div class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1533806533670"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="wpb_widgetised_column wpb_content_element edgtf-faq-widgets">
                            <div class="wpb_wrapper">

                                <div class="widget widget_text">			<div class="textwidget"><h4 style="padding-bottom: 8px;">Играйте честно!</h4>
                                    <p>Наши администраторы не играют на серверах с правами администратора, как другие игроки, они строго администраторы. Нет админских отрядов, нет админских баз, нет админских злоупотреблений</p>
                                </div>
                                </div><div class="widget edgtf-separator-widget"><div class="edgtf-separator-holder clearfix  edgtf-separator-center edgtf-separator-normal">
                                <div class="edgtf-separator" style="border-style: solid;margin: 5px 0 10px"></div>
                            </div>
                            </div><div class="widget widget_nav_menu"><div class="menu-custom-left-menu-container"><ul id="menu-custom-left-menu-1" class="menu"><li class="edgtf-anchor menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-730 edgtf-active-item"><a href="#common" class="">Общие положения</a></li>
                                <li class="edgtf-anchor menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-731 edgtf-active-item"><a href="#names" class="">Создание ников</a></li>
                                <li class="edgtf-anchor menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-732 edgtf-active-item"><a href="#avatars" class="">Аватары</a></li>
                                <li class="edgtf-anchor menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-733 edgtf-active-item"><a href="#chat" class="">Текстовые чаты</a></li>
                                <li class="edgtf-anchor menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-734 edgtf-active-item"><a href="#voice" class="">В голосовых каналах</a></li>
                                <li class="edgtf-anchor menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-735 edgtf-active-item"><a href="#admin" class="current">Действия администрации</a></li>
                                <li class="edgtf-anchor menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-736 edgtf-active-item"><a href="#agrement" class="">Соглашения играющих</a></li>
                            </ul></div></div><div class="widget edgtf-separator-widget"><div class="edgtf-separator-holder clearfix  edgtf-separator-center edgtf-separator-normal">
                                <div class="edgtf-separator" style="border-style: solid;margin: 16px 0 10px"></div>
                            </div>
                            </div>

                            </div>
                        </div>
                        </div></div></div><div class="wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-9276" data-681-768="0 0 0 8%" data-680="0 0">
                            <div class="edgtf-eh-item-inner">
                                <div class="edgtf-eh-item-content edgtf-eh-custom-9276" style="padding: 0 0 0 16%">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h5>1. Общие положения</h5>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>
                                                При входе на сервер каждый игрок соглашается с данными правилами!<br><br>

                                                Незнание правил не освобождает от ответственности.<br><br>

                                                Несогласие с текущими правилами сервера может являться причиной ограничения доступа к серверу проекта.<br>


                                                SCUM SURVIVAL [HARDCORE] - PvP сервер, PvP сражения разрешены, KOS (Kill On Sight - "увидел - убил") на усмотрение игроков.<br>
                                                <span style="color: red">ЗАПРЕЩЕНО:</span> <br>
                                                1.1 Использование читов, стороннего ПО, дающего преимущество игроку.<br>
                                                1.2 Использовать любые баги игры, направленные для получения игрового преимущества либо на убийство других игроков и/или заполучение/уничтожение их имущества; использование багов сервера в целях личного обогащения. Распространение информации среди игроков о подобного рода способах использования багов.<br>
                                                1.3 Оскорблять игроков и нецензурная лексика.<br>
                                                1.4 Обсуждение политики, наркотиков, суицида и порнографии.<br>
                                                1.5 Любая несогласованная реклама чего либо.<br>
                                                1.6 Вводить в заблуждение/обманывать Администрацию проекта.<br>
                                                1.7 Выдавать себя за администрацию проекта.<br>
                                                1.8 Попрошайничество, вымогательство или мошенничество.<br>
                                                1.9 Любая клевета, дезинформация или ложь про игроков, администрацию и сервер.<br>
                                                1.10 Использовать ники, содержащие нецензурные слова или выражения.<br>
                                                <span style="color: green">Разрешено в полной мере использовать игровой контент (вы сами выбираете себе стиль игры, мы Вам его не навязываем)</span>

                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div><div id="names" class="vc_row wpb_row vc_inner vc_row-fluid edgtf-anchor vc_custom_1533626707125"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-9138" data-681-768="0 0 0 8%" data-680="0 0">
                            <div class="edgtf-eh-item-inner">
                                <div class="edgtf-eh-item-content edgtf-eh-custom-9138" style="padding: 0 0 0 16%">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h5>2. СОЗДАНИЕ НИКНЕЙМОВ (ОТНОСИТСЯ К ИГРОВЫМ НИКАМ, НА ФОРУМЕ И В DISCORD)</h5>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>
                                                <span style="color: red">ЗАПРЕЩЕНО:</span> <br>
                                                2.1 Делать ники содержащие мат/оскорбление или не читаемые ники вроде "24$%21{ЫЫ{TY56f".<br>
                                                2.2 Использовать дискриминирующие или пропагандирующие сленги, термины и символы.<br>
                                                2.3 Делать ники содержащие прямую рекламу/скрытую рекламу.<br>
                                                2.4 Делать никнеймы которые на 100% состоят из иероглифов и/или цифр.<br>
                                                2.5 Менять игровые никнеймы более 3 раз в неделю.<br>
                                                2.6 Создавать никнеймы схожие с никнеймами Администрации, выдавать себя за администрацию.<br>
                                                2.7 Использовать никнейм "Drone280818". Кроме администраторов проекта.<br>
                                            </p>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div></div><div id="avatars" class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1533626716591"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-5394" data-681-768="0 0 0 8%" data-680="0 0">
                            <div class="edgtf-eh-item-inner">
                                <div class="edgtf-eh-item-content edgtf-eh-custom-5394" style="padding: 0 0 0 16%">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h5>3. АВАТАРЫ (УСТАНОВКА В DISCORD, НА ФОРУМЕ)</h5>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>
                                                <span style="color: red">ЗАПРЕЩЕНО:</span> <br>
                                                3.1 Использовать аватары содержащие NSFW (порнографию) контент.<br>
                                                3.2 Использовать материалы пропагандирующие запрещенные действия и вещества, развязывающие религиозные противоречия или разжигающие межнациональные конфликты.<br>
                                                3.3 Использовать нацистскую символику.<br>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div></div><div id="chat" class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1533626738718"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-6119" data-681-768="0 0 0 8%" data-680="0 0">
                            <div class="edgtf-eh-item-inner">
                                <div class="edgtf-eh-item-content edgtf-eh-custom-6119" style="padding: 0 0 0 16%">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h5>4. ТЕКСТОВЫЕ ЧАТЫ</h5>

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>
                                                <span style="color: red">ЗАПРЕЩЕНО:</span> <br>
                                                4.1 Отправлять одинаковые сообщения (3 подряд и более), злоупотреблять капсом.<br>
                                                4.2 Злоупотреблять системой Markdown и другими способами выделения текста, использовать выделенный текст в преобладающем количестве.<br>
                                                4.3 Злоупотреблять тегами Администрации.<br>
                                                4.4 Использовать нецензурную лексику, непристойные выражения, завуалированный мат.<br>
                                                4.5 Злоупотреблять плавающим текстом и пробелом после каждого символа.<br>
                                                4.6 Обсуждать NSFW (порнографию) контент.<br>
                                                4.7 Попрошайничество, вымогательство или мошенничество.<br>
                                                4.8 Любая клевета, дезинформация или ложь про игроков, администрацию и сервер.<br>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div></div><div id="voice" class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1533646916832"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-8965" data-681-768="0 0 0 8%" data-680="0 0">
                            <div class="edgtf-eh-item-inner">
                                <div class="edgtf-eh-item-content edgtf-eh-custom-8965" style="padding: 0 0 0 16%">

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h5>5. ГОЛОСОВЫЕ КАНАЛЫ</h5>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p><span style="color: red">ЗАПРЕЩЕНО:</span> <br>
                                                5.1 Намеренно создавать помехи вызывающие неудобства; подразумевается все, что создает дискомфорт или представляет невозможным общение других пользователей: крики, шумы, фоновая музыка и т.д.<br>
                                                5.2 Изменять голос с помощью стороннего ПО.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div></div><div id="admin" class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1533646740973"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-4465" data-681-768="0 0 0 8%" data-680="0 0">
                            <div class="edgtf-eh-item-inner">
                                <div class="edgtf-eh-item-content edgtf-eh-custom-4465" style="padding: 0 0 0 16%">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h5>6. ДЕЙСТВИЯ АДМИНИСТРАЦИИ</h5>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>6.1 Администрация НЕ восстанавливает вещи потерянные в результате багов, ошибок, глюков игры или вашего компьютера.<br>
                                                6.2 Администрация НЕ выдает никому никаких вещей или привилегий (кроме ивентов).<br>
                                                6.3 Администрация вправе изменить/добавить правила в любой момент (постарайтесь быть в курсе изменений).<br>
                                                6.4 Администрация не вмешивается в игровой процесс, только если не требуется проверка игрока.<br>
                                                <span style="color: red">6.5 Администрация в праве приостановить учетную запись, обнулить очки или баланс на сайте в случае спорных моментов или нарушений правил (до разбирательств).</span><br>
                                                6.6 Модераторы сервера не имеют привилегий выдавать себе или игрокам игровые предметы, кроме оговоренных случаев:<br>
                                                -выигрыши в розыгрышах;<br>
                                                -выигрыши в ивентах;<br>
                                                -покупка в BlackMarket.<br>
                                                <span style="color: red">На нашем сервере ценится адекватность, уважение и доброжелательность по отношению к окружающим.<br>
                                                Администрация может принимать во внимание и другие, не перечисленные выше нарушения и выдавать наказания, если ситуация выходит из-под контроля.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div></div></div></div></div><div id="agrement" class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1533806542152"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item    " data-item-class="edgtf-eh-custom-6120" data-681-768="0 0 0 8%" data-680="0 0">
                            <div class="edgtf-eh-item-inner">
                                <div class="edgtf-eh-item-content edgtf-eh-custom-6120" style="padding: 0 0 0 16%">
                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <h5>СОГЛАШЕНИЯ ИГРАЮЩИХ НА НАШЕМ СЕРВЕРЕ</h5>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p>
                                                Каждый игрок сервера соглашается и руководствуется данными правилами.<br><br>
                                                Так как система античита находится в разработке/доработке и не столько эффективна - администрация сервера может проверить играющих в любой момент. -Игрок будет предупрежден в чате. После этого к нему будет перемещен администратор или администратор переместит его к себе.<br>
                                                Администрация в праве в любой момент приостановить деятельность игрока для проведения расследования.<br><br>
                                                В случае выхода из игры, не желанием сотрудничать с администрацией (под любым предлогом) - учетная запись может быть заблокирована на 1 день. При наличии VAC на аккаунте Steam - больше вероятность подвергнуться проверке; Если игроки отказываются от предоставления информации, то по решению администрации учетная запись может быть заблокирована на сервере.<br><br>
                                                Администрация в целях проверки в любой момент в праве запросить информацию:<br>
                                                - скриншот экрана;<br>
                                                - содержание файлов конфигурации игры;<br>
                                                - лог сканирования на наличие запрещённого софта;<br>
                                                В случае многочисленных жалоб на игрока - проводится расследование.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div></div></div></div></div></div></div></div>
                        </div>
                    </div>
                </div>

            </div>


        </div> <!-- close div.content_inner -->
    </div>
{% endblock %}