{% extends 'basic_new.html' %}
{% load static %}

{% block content %}
    <div class="edgtf-content">
        <div class="edgtf-content-inner">
            <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top" style="height: 300px;background-image: url({% static 'images/own_profile.jpg' %});" data-height="138">
                <div class="edgtf-title-wrapper">
                    <div class="edgtf-title-inner">
                        <div class="edgtf-grid">
                            <h3 style="text-align: end" class="edgtf-page-title entry-title scum-font">НАСТРОЙКИ <span style="color: #ff7e1f">СЕРВЕРА</span></h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="edgtf-row-grid-section-wrapper "><div style="margin-bottom: 50px; margin-top: 50px;" class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1534408500247"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-4105" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 50px 10%" data-681-768="0px 5% 50px 5%" data-680="0px 10% 50px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-4105" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option1 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option1 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Количество марионеток</h5>
{#                                <p class="edgtf-pc-text">Cum sociis Theme natoque penatibus et magnis dis parturient montes</p>#}
                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-5744" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 50px 10%" data-681-768="0px 5% 50px 5%" data-680="0px 10% 50px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-5744" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option2 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option2 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Количество роботов</h5>

                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-6922" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 0px 10%" data-681-768="0px 5% 0px 5%" data-680="0px 10% 50px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-6922" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option3 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option3 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Количество транспорта</h5>

                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-2983" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 0px 10%" data-681-768="0px 5% 0px 5%" data-680="0px 10% 0px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-2983" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option4 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option4 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Количество айрдропов</h5>

                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div></div></div></div>

              <div class="gap-20"></div>
            <div class="gap-20"></div>

            <div class="edgtf-row-grid-section-wrapper "><div style="margin-bottom: 50px;" class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1534408500247"><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-4105" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 50px 10%" data-681-768="0px 5% 50px 5%" data-680="0px 10% 50px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-4105" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option5 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option5 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Усиление марионеток</h5>
{#                                <p class="edgtf-pc-text">Cum sociis Theme natoque penatibus et magnis dis parturient montes</p>#}
                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-5744" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 50px 10%" data-681-768="0px 5% 50px 5%" data-680="0px 10% 50px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-5744" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option6 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option6 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Усилиние роботов</h5>

                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-6922" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 0px 10%" data-681-768="0px 5% 0px 5%" data-680="0px 10% 50px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-6922" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option7 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option7 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Усилиние самодельного оружия</h5>

                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-6 vc_col-xs-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-elements-holder   edgtf-one-column  edgtf-responsive-mode-768 "><div class="edgtf-eh-item   edgtf-horizontal-alignment-center " data-item-class="edgtf-eh-custom-2983" data-1367-1600="0 5%" data-1025-1366="0 0" data-769-1024="0px 10% 0px 10%" data-681-768="0px 5% 0px 5%" data-680="0px 10% 0px 10%">
                <div class="edgtf-eh-item-inner">
                    <div class="edgtf-eh-item-content edgtf-eh-custom-2983" style="padding: 0 10%">
                        <div class="edgtf-pie-chart-holder " style="opacity: 1;">
                            <div class="edgtf-pc-percentage easyPieChart" data-percent="{{ site_settings.option8 }}" style="width: 176px; height: 176px; line-height: 176px;">
                                <span class="edgtf-pc-percent">{{ site_settings.option8 }}</span>
                                <canvas width="176" height="176"></canvas></div>
                            <div class="edgtf-pc-text-holder">
                                <h5 class="edgtf-pc-title">Усиление огнестрельного оружия</h5>

                            </div>
                        </div>		</div>
                </div>
            </div></div></div></div></div></div></div></div>

        </div> <!-- close div.content_inner -->
    </div>
    <div class="gap-20"></div>
    <div class="gap-20"></div>
{% endblock %}