{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="page-heading page-heading--overlay page-heading--post-bg" style="height: 400px; background-image: url({% static '/images/rules.jpg' %}); background-position: 50% 0%;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <!-- Post Meta - Top -->
                    <div class="post__meta-block post__meta-block--top">
                        <!-- Post Category
                        <div class="post__category"><span class="label posts__cat-label">The Team</span></div>-->
                        <!-- Post Category / End -->
                        <!-- Post Title -->

                        <!-- Post Title / End -->
                        <!-- Post Meta Info -->


                        <!-- Post Author / End -->
                    </div>
                    <!-- Post Meta - Top / End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content
    ================================================== -->
    <div class="site-content">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="content col-md-8 offset-md-2">
                    <!-- Article -->
                    <article class="card card--lg post post--single post--extra-top">
                        <div class="card__content">
                            <div class="post__content">
                           <p>SCUM SURVIVAL - самое крупное игровое сообщество фанатов игры SCUM.<br>
                            Мы надеемся, вам нравится у нас.<br>
                            Мы стараемся дать Вам самые последние новости о развитии игры SCUM.<br>
                            Предоставить игровой сервер, внести разнообразие в игру и много интересного . Обеспечить комфортную, безопасную игру в приятной обстановке.<br>
                            Получить море эмоций. И желаем Вам приятного времяпровождение с нами.</p>
                            <p>Мы всегда доступны и открыты для общения!<br>
                            Любая сумма помогла бы поддержать проект и получить высокую оценку. <br>
                            Мы хотим быть лучше для вас!</p>

                                <p style="font-weight: bold; font-size: 18px;" >Вы можете воспользоваться одним из перечисленных способов, после оплаты ОБЯЗАТЕЛЬНО свяжитесь в дискорде с администрацией сервера</p>

                                <div style="width: 350px; margin: 0 auto;">
                                     <a href="https://qiwi.me/gamescum"
                                       class="btn btn-warning btn-outline btn-lg footer_btn" target="_blank">QIWI</a>
                                     <a href="https://money.yandex.ru/to/410017441653258" class="btn btn-warning btn-outline btn-lg footer_btn">Яндекс.Деньги</a>
                                     <div style="border: 2px solid;margin-bottom: 7px;"><span style="display: block;margin-left: 65px;padding: 12px;">Webmoney R202493688161</span></div>
                                     <div style="border: 2px solid;margin-bottom: 7px;"><span style="display: block;margin-left: 65px;padding: 12px;">Webmoney Z975376717386</span></div>


                                </div>


                            </div>

                        </div>
                    </article>

                    <!-- Post Comment Form / End -->
                </div>
                <!-- Content / End -->
            </div>
        </div>
    </div>
    <!-- Content / End -->
{% endblock %}