{% extends 'basic_new.html' %}
{% load static %}

{% block content %}
<div class="edgtf-content">
    <div class="edgtf-content-inner">
        <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top" style="height: 138px;background-color: #181818" data-height="138">
            <div class="edgtf-title-wrapper">
                <div class="edgtf-title-inner">
                    <div class="edgtf-grid">
                        <h3 class="edgtf-page-title entry-title">Pricing Table</h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="edgtf-full-width">
            <div class="edgtf-full-width-inner">
                <div class="edgtf-grid-row">
                    <div class="edgtf-page-content-holder edgtf-grid-col-12">
                        <div class="edgtf-row-grid-section-wrapper "><div class="edgtf-row-grid-section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1534166646182"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-pricing-tables edgtf-grid-list edgtf-disable-bottom-space clearfix edgtf-three-columns edgtf-normal-space"><div class="edgtf-pt-wrapper edgtf-outer-space"><div class="edgtf-price-table edgtf-item-space   edgtf-light-skin">
                            <div class="edgtf-pt-inner">
                                <ul>
                                    <li class="edgtf-pt-title-holder">
                                        <span class="edgtf-pt-title">Basic Plan</span>
                                    </li>
                                    <li class="edgtf-pt-prices">
                                        <span class="edgtf-pt-value">$</span>
                                        <span class="edgtf-pt-price">129</span>
                                    </li>
                                    <li class="edgtf-pt-content">

                                        <ul>
                                            <li>– Increse your conversions ukzlam cor</li>
                                            <li>– Lorem Ipsum. Proin gravid tamc grde</li>
                                            <li>– Aenean sollicitudin, lorem quis leom</li>
                                            <li>– Versionsn crese your con ullamcorp</li>
                                        </ul>
                                    </li>
                                    <li class="edgtf-pt-button">
                                        <a itemprop="url" href="#" target="_self" class="edgtf-btn edgtf-btn-medium edgtf-btn-outline">                <span class="edgtf-btn-overlay"></span>                <span class="edgtf-btn-text">Purchase PLan</span>            </a>				</li>
                                </ul>
                            </div>
                        </div><div class="edgtf-price-table edgtf-item-space   edgtf-light-skin">
                            <div class="edgtf-pt-inner">
                                <ul>
                                    <li class="edgtf-pt-title-holder">
                                        <span class="edgtf-pt-title">Extra Package</span>
                                    </li>
                                    <li class="edgtf-pt-prices">
                                        <span class="edgtf-pt-value">$</span>
                                        <span class="edgtf-pt-price">186</span>
                                    </li>
                                    <li class="edgtf-pt-content">

                                        <ul>
                                            <li>– Lorem Ipsum. Proin gravid tamc grde</li>
                                            <li>– Increse your conversions ukzlam cor</li>
                                            <li>– Aenean sollicitudin, lorem quis leom</li>
                                            <li>– Versionsn crese your con ullamcorp</li>
                                        </ul>
                                    </li>
                                    <li class="edgtf-pt-button">
                                        <a itemprop="url" href="#" target="_self" class="edgtf-btn edgtf-btn-medium edgtf-btn-outline">                <span class="edgtf-btn-overlay"></span>                <span class="edgtf-btn-text">Purchase PLan</span>            </a>				</li>
                                </ul>
                            </div>
                        </div><div class="edgtf-price-table edgtf-item-space   edgtf-light-skin">
                            <div class="edgtf-pt-inner">
                                <ul>
                                    <li class="edgtf-pt-title-holder">
                                        <span class="edgtf-pt-title">New Package</span>
                                    </li>
                                    <li class="edgtf-pt-prices">
                                        <span class="edgtf-pt-value">$</span>
                                        <span class="edgtf-pt-price">96</span>
                                    </li>
                                    <li class="edgtf-pt-content">

                                        <ul>
                                            <li>– Aenean sollicitudin, lorem quis leom</li>
                                            <li>– Lorem Ipsum. Proin gravid tamc grde</li>
                                            <li>– Aenean sollicitudin, lorem quis leom</li>
                                            <li>– Increse your conversions ukzlam cor</li>
                                        </ul>
                                    </li>
                                    <li class="edgtf-pt-button">
                                        <a itemprop="url" href="#" target="_self" class="edgtf-btn edgtf-btn-medium edgtf-btn-outline">                <span class="edgtf-btn-overlay"></span>                <span class="edgtf-btn-text">Purchase PLan</span>            </a>				</li>
                                </ul>
                            </div>
                        </div></div></div></div></div></div></div></div></div>
                    </div>
                </div>
            </div>

        </div>


    </div> <!-- close div.content_inner -->
</div>
    <div class="gap-20"></div>
    <div class="gap-20"></div>
{% endblock %}



