{% extends 'basic.html' %}
{% load static %}

{% block content %}

    <!-- Page Heading
           ================================================== -->
    <div class="page-heading" style="background-image: url({% static 'images/squads.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-8">
                    <h1 class="page-heading__title font_scum">ОТРЯДЫ <span class="highlight">СЕРВЕРА</span></h1>
                    <ol class="page-heading__breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Отряды</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Content
       ================================================== -->
    <div class="site-content">
        <div class="container">

        <div class="card">
    <header class="card__header">
        <h4>Играете с друзьями? Для вас специальное предложение!</h4></header>
    <div class="card__content">
        <p>Создайте отряд - и вы получите дополниельные возможности. Подробнее :</p>
        <ul class="list">
            <li>Создание отряда 1 уровня стоит <strong>1000 RC</strong> .</li>
            <li>Каждый кандидат на вступление подает заявку, лидер принимает ее.</li>
            <li>Всего 5 уровней отряда. Повышая уровень отряда, вы увеличиваете максимальное количество участников.</li>
            <li>Казна отряда - куда игроки могут внести средства. При внесении средств от 500 RC повышается рейтинг игрока.</li>
            <li>На деньги из казны - отряд может повысить уровень отряда или <a href="#sectors_map">купить</a>  сектор.</li>
            <li>Максимальное количество секторов во владении отряда - 3.</li>
            <li>Владение сектором открывает возможность приобретения специальных товаров в <a href="{% url 'shop_home' %}">BLACKMARKET</a></li>
            <li>Любой отряд может оспорить владение сектором</li>


        </ul>

    </div>
</div>

        <div id="main_tab" class="product-tabs card card--xlg">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified nav-product-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#tab-squads" role="tab" data-toggle="tab">ОТРЯДЫ СЕРВЕРА</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab-players" role="tab" data-toggle="tab">ИГРОКИ</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab-wars" role="tab" data-toggle="tab">ВОЙНА ЗА СЕКТОРА</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab-quests" role="tab" data-toggle="tab">ИСПЫТАНИЯ ОТРЯДОВ</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content card__content">
        <!-- Tab: Description -->
        <div role="tabpanel" class="tab-pane fade show active" id="tab-squads">

           <div class="table-responsive">
                                    <table class="table table-condensed  table-standings" style="border-collapse:collapse;">
                                        <thead>
                                        <tr>
                                            <th>Название отряда</th>
                                            <th>Уровень</th>
                                            <th>Состав</th>
                                            <th>Набор</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for squad in squads %}
                                            <tr >
                                                <td>
                                                    <div class="team-meta">
                                                        <figure class="team-meta__logo"><img src="{{ squad.avatar.url }}" alt="Отряд игрового сервера SCUM {{ squad.name }}"></figure>
                                                        <div class="team-meta__info">
                                                            <h6 class="team-meta__name">{{ squad.name }}</h6><span class="team-meta__place">Лидер отряда : <a href="{% url 'profile' squad.leader.nickname %}">{{ squad.leader.personaname }}</a></span></div>
                                                    </div>
                                                </td>
                                                <td>{{ squad.level }}</td>
                                                <td>{{ squad.get_members.count }}</td>
                                                <td>
                                                    {% if player_squad_member %}
                                                        Ты уже в отряде
                                                    {% else %}

                                                        {% if squad.recruting and user.is_authenticated%}


                                                            {% if squad.id in req_disct %}
                                                                заявка уже подана
                                                            {% else %}

                                                                <a href="{% url 'join_request' squad.name_slug %}"> Вступить</a>
                                                            {% endif %}


                                                        {% else %}
                                                            Закрыт
                                                        {% endif %}
                                                    {% endif %}
                                                </td>

                                                <td><button class="btn btn-warning btn-xs btn-outline accordion-toggle" type="button" data-toggle="collapse" data-target="#squad_info_{{ squad.id }}" >ПОДРОБНЕЕ</button></td>
                                            </tr>
                                            <tr  class="accordian-body collapse" id="squad_info_{{ squad.id }}"  style=" padding: 0 4px !important;">
                                            <td >

                                                <img style="width: 220px;" src="{{ squad.avatar.url }}" alt="Отряд игрового сервера SCUM {{ squad.name }}">


                                            </td>
                                                <td >
                                                  {{ squad.info }}
                                                </td>
                                             <td  style="width: 20%">
                                            <span> Состав отряда :</span><br>
                                                 {% for member in squad.squadmembers_set.all %}
                                                    <a href="{% url 'profile' member.player.nickname %}">{{ member.player.personaname }}</a><br>

                                                 {% endfor %}

                                             </td>
                                            <td> ПОБЕД <br> {{ squad.battles_wins }}

                                            </td>
                                            <td>
                                            ПОРАЖЕНИЙ <br> {{ squad.battles_loose }}
                                            </td>

                                        </tr>

                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
        </div>
        <!-- Tab: Description / End -->
        <!-- Tab: Shipping -->
        <div role="tabpanel" class="tab-pane fade" id="tab-players">
                <div class="table-responsive">
                                    <table class="table table-condensed  table-standings" >
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Ник игрока</th>
                                            <th>Уровень</th>
                                            <th>Рейтинг</th>
                                            <th>Смертей</th>
                                            <th>Убийств</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for pl in players %}
                                            <tr  >
                                                <td>
                                                    <img src="{{ pl.avatarmedium }}" alt="Игрок игрового сервера SCUM ">



                                                </td>
                                                <td style="vertical-align: middle !important; font-size: 15px; font-weight: bold;">   <a href="{% url 'profile' pl.nickname %}">{{ pl.personaname }}</a>  </td>
                                                <td style="vertical-align: middle !important; font-size: 15px; font-weight: bold;">{{ pl.level }}</td>
                                                <td style="vertical-align: middle !important; font-size: 15px; font-weight: bold;">{{ pl.rating }}</td>
                                                <td style="vertical-align: middle !important; font-size: 15px; font-weight: bold;">{{ pl.deaths }}</td>
                                                <td style="vertical-align: middle !important; font-size: 15px; font-weight: bold;">{{ pl.kills }}</td>
                                            </tr>


                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
        </div>
        <!-- Tab: Shipping / End -->
        <!-- Tab: Reviews -->
        <div role="tabpanel" class="tab-pane fade" id="tab-wars">
           <div class="widget__content card__content">
                            <ul class="widget-results__list">
                                <!-- Game #0 -->
                                {% for war in wars %}
                                    {% if not war.owner_agreed %}
                                         <li class="widget-results__item">
                                        <h5 class="widget-results__title">{{ war.war_date.date }}</h5>
                                        <div class="widget-results__content">
                                            <div class="widget-results__team widget-results__team--first">
                                                <figure class="widget-results__team-logo"><img src="{{ war.enemy.avatar.url }}" alt=""></figure>
                                                <div class="widget-results__team-details">
                                                    <h5 class="widget-results__team-name">{{ war.enemy.name }}</h5><span class="widget-results__team-info">нападают</span></div>

                                            </div>
                                            <div class="widget-results__result">
                                                <div class="widget-results__score"><span class="widget-results__score-winner">{{ war.sector.name }}</span>


                                                </div>
                                            </div>
                                            <div class="widget-results__team widget-results__team--second">

                                                    <h5 class="widget-results__team-name">Победа без боя</h5></div>
                                            </div>
                                        </div>
                                    </li>
                                    {% else %}

                                    <li class="widget-results__item">
                                        <h5 class="widget-results__title">{{ war.war_date.date }}</h5>
                                        <div class="widget-results__content">
                                            <div class="widget-results__team widget-results__team--first">
                                                <figure class="widget-results__team-logo"><img src="{{ war.enemy.avatar.url }}" alt=""></figure>
                                                <div class="widget-results__team-details">
                                                    <h5 class="widget-results__team-name">{{ war.enemy.name }}</h5><span class="widget-results__team-info">нападают</span></div>

                                            </div>
                                            <div class="widget-results__result">
                                                <div class="widget-results__score"><span class="widget-results__score-winner">{{ war.sector.name }}</span>


                                                </div>
                                            </div>
                                            <div class="widget-results__team widget-results__team--second">
                                                <figure class="widget-results__team-logo"><img src="{{ war.sector.squad.avatar.url }}" alt=""></figure>
                                                <div class="widget-results__team-details">
                                                    <h5 class="widget-results__team-name">{{ war.sector.squad.name }}</h5><span class="widget-results__team-info">обороняются</span></div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    <!-- Game #0 / End -->
                                {% endfor %}
                                {% if not wars %}
                                   ЭТОТ РЕЖИМ БУДЕТ ДОСТУПЕН ПОСЛЕ НГ
                                {% endif %}
                            </ul>
                        </div>
        </div>
     <div role="tabpanel" class="tab-pane fade" id="tab-quests">
         Этот раздел в стадии разрботки

        </div>
        <!-- Tab: Reviews / End -->
    </div>
</div>


            <h3 id="sectors_map" align="center">Владение секторами</h3>
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible"><strong>{{ message }}</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                {% endfor %}
            </div>
            <div id="war_map" style="margin: auto; background-image: url(/static/images/map.png);width: 1170px; height: 1170px;background-size: contain;">

                <table style="
        table-layout: fixed;
        width: 1170px;
    height: 1170px;">
                   <tr style="    height: 25%;" >

                        {% for sect in sectors_d %}

                            <td style="
                                    text-align: center;
                                    color: #fff;
                                    font-weight: bold;
                                    {% if sect.squad.name %}
                                        background-color: #ff7e1f96;

                                    {% endif %}

                                    {% if sect.in_war %}
                                        background-color: rgba(243, 65, 65, 0.91);
                                    {% endif %}

                                    " >


                                {{ sect.name }}<br>
                                {% if sect.squad.name %}
                                    Владелец с {{ sect.own.date }}<br>
                                    <img width="40px" src="{{ sect.squad.avatar.url }}" alt=""><br>
                                    {{ sect.squad.name }}<br>




                                    {% if player.is_squad_leader and sect not in player_squad_sector.all and not sect.in_war %}
                                        <a href="{% url 'sector_war' sect.name %}" class="btn btn-danger btn-xs">Оспорить территорию</a>
                                    {%endif%}
                                    {% if sect.in_war %}
                                        {% for war in sect.sectorwars_set.all %}
                                            <div style="    background-color: #1e2024;
                                                            margin: 5px;
                                                            padding: 10px;">
                                             Сектор будет оспорен<br>{{ war.war_date|date:"d M, Y" }}, отрядом<br> <img width="20px" src="{{ war.enemy.avatar.url }}"> {{ war.enemy.name }}<br>
                                            {% if player.is_squad_leader and sect in player_squad_sector.all and not war.owner_agreed  %}
                                            <a href="{% url 'accept_war' sect.name %}" class="btn btn-success btn-outline btn-xs">ПРИНЯТЬ</a> <a href="{% url 'deny_war' sect.name %}" class="btn btn-danger btn-outline btn-xs">ОТКЛОНИТЬ</a>
                                            {% endif %}
                                            </div>


                                        {% endfor %}

                                    {% endif %}



                                {% else %}
                                    <div>
                                        СВОБОДНО<br>
                                        Доход : {{ sect.income }}<br>
                                        Цена : {{ sect.price }}<br>
                                        {% if player.is_squad_leader %}
                                            <a href="{% url 'buy_sector' %}?s={{ sect.id }}" class="btn btn-warning btn-xs">КУПИТЬ</a>
                                        {%endif%}
                                    </div>

                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                   <tr style="    height: 25%;" >

                        {% for sect in sectors_c %}

                            <td style="
                                    text-align: center;
                                    color: #fff;
                                    font-weight: bold;
                                    {% if sect.squad.name %}
                                        background-color: #ff7e1f96;

                                    {% endif %}

                                    {% if sect.in_war %}
                                        background-color: rgba(243, 65, 65, 0.91);
                                    {% endif %}

                                    " >


                                {{ sect.name }}<br>
                                {% if sect.squad.name %}
                                    Владелец с {{ sect.own.date }}<br>
                                    <img width="40px" src="{{ sect.squad.avatar.url }}" alt=""><br>
                                    {{ sect.squad.name }}<br>




                                    {% if player.is_squad_leader and sect not in player_squad_sector.all and not sect.in_war %}
                                        <a href="{% url 'sector_war' sect.name %}" class="btn btn-danger btn-xs">Оспорить территорию</a>
                                    {%endif%}
                                    {% if sect.in_war %}
                                        {% for war in sect.sectorwars_set.all %}
                                            <div style="    background-color: #1e2024;
                                                            margin: 5px;
                                                            padding: 10px;">
                                             Сектор будет оспорен<br>{{ war.war_date|date:"d M, Y" }}, отрядом<br> <img width="20px" src="{{ war.enemy.avatar.url }}"> {{ war.enemy.name }}<br>
                                            {% if player.is_squad_leader and sect in player_squad_sector.all and not war.owner_agreed  %}
                                            <a href="{% url 'accept_war' sect.name %}" class="btn btn-success btn-outline btn-xs">ПРИНЯТЬ</a> <a href="{% url 'deny_war' sect.name %}" class="btn btn-danger btn-outline btn-xs">ОТКЛОНИТЬ</a>
                                            {% endif %}
                                            </div>


                                        {% endfor %}

                                    {% endif %}



                                {% else %}
                                    <div>
                                        СВОБОДНО<br>
                                        Доход : {{ sect.income }}<br>
                                        Цена : {{ sect.price }}<br>
                                        {% if player.is_squad_leader %}
                                            <a href="{% url 'buy_sector' %}?s={{ sect.id }}" class="btn btn-warning btn-xs">КУПИТЬ</a>
                                        {%endif%}
                                    </div>

                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                   <tr style="    height: 25%;" >

                        {% for sect in sectors_b %}

                            <td style="
                                    text-align: center;
                                    color: #fff;
                                    font-weight: bold;
                                    {% if sect.squad.name %}
                                        background-color: #ff7e1f96;

                                    {% endif %}

                                    {% if sect.in_war %}
                                        background-color: rgba(243, 65, 65, 0.91);
                                    {% endif %}

                                    " >


                                {{ sect.name }}<br>
                                {% if sect.squad.name %}
                                    Владелец с {{ sect.own.date }}<br>
                                    <img width="40px" src="{{ sect.squad.avatar.url }}" alt=""><br>
                                    {{ sect.squad.name }}<br>




                                    {% if player.is_squad_leader and sect not in player_squad_sector.all and not sect.in_war %}
                                        <a href="{% url 'sector_war' sect.name %}" class="btn btn-danger btn-xs">Оспорить территорию</a>
                                    {%endif%}
                                    {% if sect.in_war %}
                                        {% for war in sect.sectorwars_set.all %}
                                            <div style="    background-color: #1e2024;
                                                            margin: 5px;
                                                            padding: 10px;">
                                             Сектор будет оспорен<br>{{ war.war_date|date:"d M, Y" }}, отрядом<br> <img width="20px" src="{{ war.enemy.avatar.url }}"> {{ war.enemy.name }}<br>
                                            {% if player.is_squad_leader and sect in player_squad_sector.all and not war.owner_agreed  %}
                                            <a href="{% url 'accept_war' sect.name %}" class="btn btn-success btn-outline btn-xs">ПРИНЯТЬ</a> <a href="{% url 'deny_war' sect.name %}" class="btn btn-danger btn-outline btn-xs">ОТКЛОНИТЬ</a>
                                            {% endif %}
                                            </div>


                                        {% endfor %}

                                    {% endif %}



                                {% else %}
                                    <div>
                                        СВОБОДНО<br>
                                        Доход : {{ sect.income }}<br>
                                        Цена : {{ sect.price }}<br>
                                        {% if player.is_squad_leader %}
                                            <a href="{% url 'buy_sector' %}?s={{ sect.id }}" class="btn btn-warning btn-xs">КУПИТЬ</a>
                                        {%endif%}
                                    </div>

                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr style="    height: 25%;" >

                        {% for sect in sectors_a %}

                            <td style="
                                    text-align: center;
                                    color: #fff;
                                    font-weight: bold;
                                    {% if sect.squad.name %}
                                        background-color: #ff7e1f96;

                                    {% endif %}

                                    {% if sect.in_war %}
                                        background-color: rgba(243, 65, 65, 0.91);
                                    {% endif %}

                                    " >


                                {{ sect.name }}<br>
                                {% if sect.squad.name %}
                                    Владелец с {{ sect.own.date }}<br>
                                    <img width="40px" src="{{ sect.squad.avatar.url }}" alt=""><br>
                                    {{ sect.squad.name }}<br>




                                    {% if player.is_squad_leader and sect not in player_squad_sector.all and not sect.in_war %}
                                        <a href="{% url 'sector_war' sect.name %}" class="btn btn-danger btn-xs">Оспорить территорию</a>
                                    {%endif%}
                                    {% if sect.in_war %}
                                        {% for war in sect.sectorwars_set.all %}
                                            <div style="    background-color: #1e2024;
                                                            margin: 5px;
                                                            padding: 10px;">
                                             Сектор будет оспорен<br>{{ war.war_date|date:"d M, Y" }}, отрядом<br> <img width="20px" src="{{ war.enemy.avatar.url }}"> {{ war.enemy.name }}<br>
                                            {% if player.is_squad_leader and sect in player_squad_sector.all and not war.owner_agreed  %}
                                            <a href="{% url 'accept_war' sect.name %}" class="btn btn-success btn-outline btn-xs">ПРИНЯТЬ</a> <a href="{% url 'deny_war' sect.name %}" class="btn btn-danger btn-outline btn-xs">ОТКЛОНИТЬ</a>
                                            {% endif %}
                                            </div>


                                        {% endfor %}

                                    {% endif %}



                                {% else %}
                                    <div>
                                        СВОБОДНО<br>
                                        Доход : {{ sect.income }}<br>
                                        Цена : {{ sect.price }}<br>
                                        {% if player.is_squad_leader %}
                                            <a href="{% url 'buy_sector' %}?s={{ sect.id }}" class="btn btn-warning btn-xs">КУПИТЬ</a>
                                        {%endif%}
                                    </div>

                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </table>

            </div>

        </div>
    </div>
    <!-- Content / End -->
{% endblock %}