{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="site-content">
    <div class="container">
{% if request.user.is_superuser %}
        {% if k %}
            <div class="alert alert-info"><strong>Результат обработки:</strong>
            Строк убийств отработано : {{ k }} |   Строк смертей отработано : {{ d }} |  Строк премий отработано : {{ p }}
            </div>
            {% endif %}
        <div class="site-content">
            <div class="container">
                <div class="alert alert-info"><strong>Файлы статистики должны быть не на русском и без пробелов и спец символов</strong>

            </div>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    Файл убийств:<br>
                    <input required="required" type="file" name="kills_file"><br>
                    <br>
                    Файл смертей:<br>
                    <input required="required" type="file" name="deaths_file"><br>
                    <br>
                    Файл надбавка за время:<br>
                    <input required="required" type="file" name="time_file"><br>
                    <button type="submit">Загрузить</button>
                </form>
                <form method="get">
                    Массовое начисление ЗП<br>
                    <input type="number" name="amount">
                     <button   type="submit">начислить</button>
                </form>

            </div>
        </div>
        <!-- Content / End -->
{% endif %}

    </div>
</div>


{% endblock %}