.errorlist{
    list-style: none;
    background-color: #f34141;
    color: #fff9e1;
    padding: 13px;
    border-radius: 2px;
}

@font-face {
  font-family: "scum_font";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/10929.otf');
}

.font_scum{
    font-family: scum_font;
}

.btn_close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px !important;
    background: #ff7e1f !important;
}

.shop_active_cat{
    background: #ffdc11;
}

.shop_filter_btn{
    bottom: 14px;
    position: absolute;
}

.val_to_cart{
    width: 70px;
    height: 44px;
    margin-right: 10px;
    display: inline !important;
}

.shop_reg_button{
    padding: 5px;
    color: #000000;
    margin: auto;
}

.del_btn{
    position: absolute;
    right: 0;
}

.a_not_active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.squad_info_p_red{
    font-size: 13px;
    color: #f8f9fa;
    background-color: #dc3545;
    padding: 10px;
    border-radius: 5px;
}

.activate_input{
    border: none;
    background-color: #34373c;
    color: white;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    cursor: default;
}