{% extends 'basic.html' %}
{% load static %}

{% block content %}

 <!-- Page Heading
		================================================== -->
        <div class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h1 class="page-heading__title">Shop <span class="highlight">Grid</span></h1>
                        <ol class="page-heading__breadcrumb breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Shop</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Heading / End -->
        <!-- Content
		================================================== -->
        <div class="site-content">
            <div class="container">
                <div class="row">
                    <!-- Products -->
                    <div class="col-md-9 order-md-2">
                        <!-- Shop Banner
						================================================== -->
                        <div class="shop-banner">
                            <div class="shop-banner__content">
                                <div class="shop-banner__txt1">See our new</div>
                                <h2 class="shop-banner__title">Greyson</h2><span class="shop-banner__subtitle">Fitted Shirt</span> <a href="#" class="btn btn-primary btn-lg shop-banner__btn">Check it Now</a></div>
                            <figure class="shop-banner__img"><img src="assets/images/samples/shop-banner-img.png" alt=""></figure>
                            <div class="shop-banner__bg-txt">Greyson</div>
                            <div class="shop-banner__discount"><span class="shop-banner__discount-txt">Only</span> <span class="shop-banner__discount-price">$50</span></div>
                        </div>
                        <!-- Shop Banner / End -->
                        <!-- Shop Grid -->
                        <div class="card card--clean">
                            <header class="card__header card__header--shop-filter">
                                <div class="shop-filter">
                                    <h5 class="shop-filter__result">Showing 6 of 98 products</h5>
                                    <ul class="shop-filter__params">
                                        <li class="shop-filter__control">
                                            <select class="form-control input-xs">
                                                <option>Product Price</option>
                                                <option>Low to High</option>
                                                <option>High to Low</option>
                                            </select>
                                        </li>
                                        <li class="shop-filter__control">
                                            <select class="form-control input-xs">
                                                <option>Newest First</option>
                                                <option>Oldest First</option>
                                            </select>
                                        </li>
                                        <li class="shop-filter__control">
                                            <select class="form-control input-xs">
                                                <option>Show 6 per page</option>
                                                <option>Show 12 per page</option>
                                                <option>Show 24 per page</option>
                                            </select>
                                        </li>
                                    </ul>
                                    <div class="shop-filter__layout"><a href="shop-grid.html" class="shop-filter__grid-layout icon-grid-layout icon-grid-layout--active"><span class="icon-grid-layout__inner"><span class="icon-grid-layout__item"></span> <span class="icon-grid-layout__item"></span> <span class="icon-grid-layout__item"></span> </span></a><a href="shop-list.html" class="shop-filter__list-layout icon-list-layout"><span class="icon-list-layout__inner"><span class="icon-list-layout__item"></span> <span class="icon-list-layout__item"></span> <span class="icon-list-layout__item"></span></span></a></div>
                                </div>
                            </header>
                            <div class="card__content">
                                <!-- Products -->
                                <ul class="products products--grid">
                                    <!-- Product #0 -->
                                    <li class="product__item product__item--color-1 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SK</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img1.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img1.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img1.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Sneakers</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Sundown Sneaker</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$28.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #0 / End -->
                                    <!-- Product #1 -->
                                    <li class="product__item product__item--color-2 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SK</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img2.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img2.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img2.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Sneakers</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Atlantic Sneaker</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="product__price">$30.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #1 / End -->
                                    <!-- Product #2 -->
                                    <li class="product__item product__item--color-3 card">
                                        <div class="product__img">
                                            <div class="product__img-holder"><span class="onsale">Sale!</span>
                                                <div class="product__bg-letters">SK</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img3.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img3.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img2.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Sneakers</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Aquarium Sneaker</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price"><del>$26.00</del> <ins>$22.00</ins></div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #2 / End -->
                                    <!-- Product #3 -->
                                    <li class="product__item product__item--color-4 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">HC</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img4.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img4.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img4.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Hats and Caps</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Crimson Fitted Hat</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$20.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #3 / End -->
                                    <!-- Product #4 -->
                                    <li class="product__item product__item--color-1 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SK</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img5.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img5.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img5.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Sneakers</span>
                                                    <h2 class="product__title"><a href="shop-product.html">The Jumper Sneaker</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$30.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #4 / End -->
                                    <!-- Product #5 -->
                                    <li class="product__item product__item--color-5 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SH</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img6.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img6.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img6.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Shirts and Hoodies</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Greyson Fitted Shirt</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$50.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #5 / End -->
                                    <!-- Product #6 -->
                                    <li class="product__item product__item--color-1 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SK</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img7.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img7.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img7.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Sneakers</span>
                                                    <h2 class="product__title"><a href="shop-product.html">The Slime Sneaker</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="product__price">$32.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #6 / End -->
                                    <!-- Product #7 -->
                                    <li class="product__item product__item--color-6 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SH</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img8.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img8.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img8.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Shirts and Hoodies</span>
                                                    <h2 class="product__title"><a href="shop-product.html">The Sporting Shirt</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$40.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #7 / End -->
                                    <!-- Product #8 -->
                                    <li class="product__item product__item--color-3 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SK</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img9.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img9.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img9.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Sneakers</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Futuristic Sneaker</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$34.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #8 / End -->
                                    <!-- Product #9 -->
                                    <li class="product__item product__item--color-2 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SH</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img10.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img10.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img10.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Shirts and Hoodies</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Carbon Fiber Hoodie</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$45.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #9 / End -->
                                    <!-- Product #10 -->
                                    <li class="product__item product__item--color-1 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">HC</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img11.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img11.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img11.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Hats and Caps</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Carbon Fiber Hoodie</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                                </div>
                                                <div class="product__price">$22.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #10 / End -->
                                    <!-- Product #11 -->
                                    <li class="product__item product__item--color-5 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">SK</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img12.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img12.png" alt=""></div>
                                                    </div>
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="assets/images/samples/product-img12.png" alt=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">Sneakers</span>
                                                    <h2 class="product__title"><a href="shop-product.html">Iceberg Sneaker</a></h2>
                                                    <div class="product__ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                                </div>
                                                <div class="product__price">$30.00</div>
                                            </header>
                                            <footer class="product__footer"><a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">Add to Cart</a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__wish"><i class="icon-heart"></i></a> <a href="#" class="btn btn-default btn-single-icon btn-outline btn-inverse product__view"><i class="icon-eye"></i></a></footer>
                                        </div>
                                    </li>
                                    <!-- Product #11 / End -->
                                </ul>
                                <!-- Products / End -->
                            </div>
                        </div>
                        <!-- Shop Grid / End -->
                        <!-- Shop Pagination -->
                        <nav class="shop-pagination" aria-label="Shop navigation">
                            <ul class="pagination justify-content-end">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="#">16</a></li>
                            </ul>
                        </nav>
                        <!-- Shop Pagination / End -->
                    </div>
                    <!-- Products / End -->
                    <!-- Sidebar -->
                    <div class="sidebar sidebar--shop col-md-3 order-md-1">
                        <!-- Widget: Categories -->
                        <aside class="widget card widget--sidebar widget_categories">
                            <div class="widget__title card__header">
                                <h4>Categories</h4></div>
                            <div class="widget__content card__content">
                                <ul class="widget__list">
                                    <li><a href="#">All Products</a></li>
                                    <li><a href="#">Shirt and Hoodies</a></li>
                                    <li class="has-children"><a href="#">Sneakers</a>
                                        <ul>
                                            <li><a href="#">The Alchemist Sneakers</a></li>
                                            <li><a href="#">Running Collection</a></li>
                                            <li><a href="#">James Girobili Collection</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Hats and Caps</a></li>
                                    <li><a href="#">Merchandising</a></li>
                                </ul>
                            </div>
                        </aside>
                        <!-- Widget: Categories / End -->
                        <!-- Widget: Color Filter -->
                        <aside class="widget card widget--sidebar widget_color-picker">
                            <form action="#" class="color-picker-form">
                                <div class="widget__title card__header card__header--has-btn">
                                    <h4>Filter by Color</h4>
                                    <button class="btn btn-default btn-outline btn-xs card-header__button">Filter</button>
                                </div>
                                <div class="widget__content card__content">
                                    <ul class="filter-color">
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_1" value="1" class="color-violet"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_2" value="2" class="color-blue" checked="checked"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_3" value="3" class="color-light-blue"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_4" value="4" class="color-cyan"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_5" value="5" class="color-aqua"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_6" value="6" class="color-green"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_7" value="7" class="color-yellow"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_8" value="8" class="color-orange"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_9" value="9" class="color-red" checked="checked"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_10" value="10" class="color-black" checked="checked"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                        <li class="filter-color__item">
                                            <label class="checkbox">
                                                <input type="checkbox" id="product_color_11" value="11" class="color-white"> <span class="checkbox-indicator"></span></label>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </aside>
                        <!-- Widget: Color Filter / End -->
                        <!-- Widget: Filter Size -->
                        <aside class="widget card widget--sidebar widget_filter-size">
                            <form action="#" class="filter-size-form">
                                <div class="widget__title card__header card__header--has-btn">
                                    <h4>Filter by Size</h4>
                                    <button class="btn btn-default btn-outline btn-xs card-header__button">Filter</button>
                                </div>
                                <div class="widget__content card__content">
                                    <div class="form-group form-group--xs">
                                        <label class="checkbox checkbox-inline">
                                            <input type="checkbox" id="size-sm" value="1"> Small <span class="checkbox-indicator"></span></label>
                                    </div>
                                    <div class="form-group form-group--xs">
                                        <label class="checkbox checkbox-inline">
                                            <input type="checkbox" id="size-m" value="2" checked="checked"> Medium <span class="checkbox-indicator"></span></label>
                                    </div>
                                    <div class="form-group form-group--xs">
                                        <label class="checkbox checkbox-inline">
                                            <input type="checkbox" id="size-l" value="3"> Large <span class="checkbox-indicator"></span></label>
                                    </div>
                                    <div class="form-group form-group--xs">
                                        <label class="checkbox checkbox-inline">
                                            <input type="checkbox" id="size-xl" value="3"> Extra Large <span class="checkbox-indicator"></span></label>
                                    </div>
                                </div>
                            </form>
                        </aside>
                        <!-- Widget: Filter Size / End -->
                        <!-- Widget: Filter Price -->
                        <aside class="widget card widget--sidebar widget-filter-price">
                            <form action="#" class="filter-price-form">
                                <div class="widget__title card__header card__header--has-btn">
                                    <h4>Filter by Price</h4>
                                    <button class="btn btn-default btn-outline btn-xs card-header__button">Filter</button>
                                </div>
                                <div class="widget__content card__content">
                                    <div class="slider-range-wrapper">
                                        <div id="slider-range" class="slider-range"></div>
                                        <div class="slider-range-label">Price: $<span id="slider-range-value-min"></span> - $<span id="slider-range-value-max"></span></div>
                                    </div>
                                </div>
                            </form>
                        </aside>
                        <!-- Widget: Filter Price / End -->
                        <!-- Widget: Hot Products -->
                        <aside class="widget card widget--sidebar widget-products">
                            <div class="widget__title card__header">
                                <h4>Hot Products</h4></div>
                            <div class="widget__content card__content">
                                <ul class="products-list">
                                    <li class="products-list__item">
                                        <figure class="products-list__product-thumb">
                                            <a href="#"><img src="assets/images/samples/cart-sm-1.jpg" alt=""></a>
                                        </figure>
                                        <div class="products-list__inner"><span class="products-list__product-cat">Sneakers</span>
                                            <h5 class="products-list__product-name"><a href="#">Sundown Sneaker</a></h5>
                                            <div class="products-list__product-ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                            <div class="products-list__product-sum"><span class="products-list__product-price">$28.00</span></div>
                                        </div>
                                    </li>
                                    <li class="products-list__item">
                                        <figure class="products-list__product-thumb">
                                            <a href="#"><img src="assets/images/samples/cart-sm-2.jpg" alt=""></a>
                                        </figure>
                                        <div class="products-list__inner"><span class="products-list__product-cat">Sneakers</span>
                                            <h5 class="products-list__product-name"><a href="#">Atlantik Sneaker</a></h5>
                                            <div class="products-list__product-ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                            <div class="products-list__product-sum"><span class="products-list__product-price">$30.00</span></div>
                                        </div>
                                    </li>
                                    <li class="products-list__item">
                                        <figure class="products-list__product-thumb">
                                            <a href="#"><img src="assets/images/samples/cart-sm-3.jpg" alt=""></a>
                                        </figure>
                                        <div class="products-list__inner"><span class="products-list__product-cat">Sneakers</span>
                                            <h5 class="products-list__product-name"><a href="#">Aquarium Sneaker</a></h5>
                                            <div class="products-list__product-ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i> <i class="fa fa-star empty"></i></div>
                                            <div class="products-list__product-sum"><span class="products-list__product-price">$28.00</span></div>
                                        </div>
                                    </li>
                                    <li class="products-list__item">
                                        <figure class="products-list__product-thumb">
                                            <a href="#"><img src="assets/images/samples/cart-sm-6.jpg" alt=""></a>
                                        </figure>
                                        <div class="products-list__inner"><span class="products-list__product-cat">Shirts and Hoodies</span>
                                            <h5 class="products-list__product-name"><a href="#">The Sporting Shirt</a></h5>
                                            <div class="products-list__product-ratings"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star empty"></i></div>
                                            <div class="products-list__product-sum"><span class="products-list__product-price">$40.00</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <!-- Widget: Hot Products / End -->
                    </div>
                    <!-- Sidebar / End -->
                </div>
            </div>
        </div>
        <!-- Content / End -->

{% endblock %}