{% extends 'shop_items.html' %}
{% load static %}

{% block content %}
    <div class="edgtf-content">
        <div class="edgtf-content-inner">
            <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top" style="height: 300px;background-image: url({% static 'images/blackmarket.jpg' %});" data-height="138">
                <div class="edgtf-title-wrapper">
                    <div class="edgtf-title-inner">
                        <div class="edgtf-grid">
                            <h3 style="text-align: end" class="edgtf-page-title entry-title scum-font">BLACK<span style="color: #ff7e1f">MARKET</span></h3>
                            <div style="text-align: end" class="breadcrumbs">
                                <ul >
                                    <li><a href="/">Главная</a></li>

                                    {% if  cat_name == 'ВСЕ ПРЕДЛОЖЕНИЯ'%}
                                     <li>BlackMarket</li>
                                    {% else %}
                                        <li><a href="{% url 'shop_home' %}">BlackMarket</a></li>
                                        <li>{{ cat_name }}</li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 40px;" class="edgtf-container">
                <div class="edgtf-container-inner clearfix">
                    <div class="edgtf-grid-row ">

                        <div id="items_paginator" class="edgtf-page-content-holder edgtf-grid-col-9">
                            <div style=" margin-bottom: 30px;">
                                <strong>Вся информация вымышленная и является предметами игры SCUM, любое сходство случайно, реальной ценности не представляет!<br>
                                    Цены и асортимент товаров может быть изменен в любое время. <br>
Проверяйте варианты товара по картинке и описанию. Начальный товар соответствует картинке. <br>
                                    <span style="color: red; font-size: larger;">Выдача купленного товара происходит после 18:00! Свяжитесь с администратором в Discord</span>
                                </strong>
                            </div>

                            <div class="edgtf-pl-main-holder">
                                <ul class="products columns-3">
                                    {% for item in items %}

                                        <li class="post-285 product type-product status-publish has-post-thumbnail product_cat-clothes product_tag-madness product_tag-philosophy first instock shipping-taxable purchasable product-type-simple">
                                            <div class="edgtf-pl-inner">
                                                <div class="edgtf-pl-image">
                                                    <img width="300" height="300"  src="{{  item.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="{{  item.name }}">
                                                    <div class="edgtf-pl-text">
                                                        <div class="edgtf-pl-text-outer">
                                                            <div class="edgtf-pl-text-inner">
                                                                <a href="{% url 'shop_show_item' item.name_slug %}" class="button product_type_simple add_to_cart_button ajax_add_to_cart"  rel="nofollow">Посмотреть</a>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="{% url 'shop_show_item' item.name_slug %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
                                            </div>
                                            <div  class="item-info">
                                                <h5 class="edgtf-product-list-title">
                                                    {{  item.name }}
                                                </h5>
                                                <div style="display: grid;
                                                                grid-template-columns: 40% 55%;
                                                                grid-column-gap: 10px;" class="edgtf-pl-category">
                                                    <div>Категория</div>
                                                    <div><a href="{%  url 'shop_show_cat' item.category.name_slug %}">{{  item.category.name }}</a></div>
                                                    <div>Модификаций</div>
                                                    <div> {{ item.subitem_set.count }}</div>
                                                </div>




                                            </div>



                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <nav id="items_paginator" class="edgtf-shop-pagination" aria-label="Shop navigation">
                                <ul style="display: flex; align-items: center; justify-content: center;margin-bottom: 40px;"
                                    class="pagination justify-content-end">
                                    {% if items.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1{% if param %}&order={{ param }}{% endif %}#items_paginator" aria-label="Previous">
                                                <
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for pg in items.paginator.page_range %}
                                        {% if items.number == pg %}
                                            <li class="page-item page-item-active"><a class="page-link" href="?page={{ pg }}{% if param %}&order={{ param }}{% endif %}#items_paginator">{{pg}}</a></li>
                                        {% elif pg > items.number|add:'-9' and pg < items.number|add:'9' %}

                                            <li class="page-item"><a class="page-link" href="?page={{ pg }}{% if param %}&order={{ param }}{% endif %}#items_paginator">{{pg}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if items.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ items.paginator.num_pages }}{% if param %}&order={{ param }}{% endif %}#items_paginator" aria-label="Next">
                                                >

                                            </a>
                                        </li>
                                    {% endif %}

                                </ul>

                            </nav>
                            <div style="font-size: 13px" class="alert alert-warning ">

                                <img style="float: left;margin: 10px" src="{% static '/images/Devolver_Digital_Logo.png' %}">
                                <strong>
                                    Эти изображения получены с сайта SCUM или с сайтов, созданных и принадлежащих Devolver Digital
                                    или Gamepires и Croteam, которые владеют авторским правом на SCUM. Все торговые марки и
                                    зарегистрированные торговые марки, представленные на изображении, являются собственностью
                                    Devolver Digital. Для получения дополнительной информации см. Уведомление об авторских правах.<br>
                                    Считается, что использование изображений для иллюстрации статей, относящихся к предмету
                                    рассматриваемых изображений, квалифицируется как законное использование в соответствии с
                                    законодательством США об авторском праве, так как такое отображение не существенно ограничивает
                                    право владельца авторских прав на продажу материалов, защищенных авторским правом.
                                </strong>
                            </div>





                        </div>
                        <div id="#items_filter" class="edgtf-sidebar-holder edgtf-grid-col-3">
                            <aside class="edgtf-sidebar">
                            {% if  cat_name == 'ВСЕ ПРЕДЛОЖЕНИЯ'%}

                                <form  method="get">

                                    <select class="custom-select custom-select-border-gray mb-40" name="order" >
                                        <option value="0" >фильтрация по признаку</option>
                                        <option {% if order == 'discount' %}selected="selected"{% endif %} value="discount">со скидкой</option>
                                        <option {% if order == 'price_gte' %}selected="selected"{% endif %} value="price_gte">начинать с дорогих</option>
                                        <option {% if order == 'price_lte' %}selected="selected"{% endif %}value="price_lte">начинать с дешевых</option>
                                        <option {% if order == 'age_gte' %}selected="selected"{% endif %} value="age_gte">начинать с новых</option>
                                        <option {% if order == 'age_lte' %}selected="selected"{% endif %} value="age_lte">начинать со старых</option>
                                    </select>

                                    <button style="padding: 0px;
                                                position: relative;
                                                top: -39px;
                                                width: 100%;
                                                font-size: 12px;" type="submit" class="">ПРИМЕНИТЬ</button>
                                </form>
                                {% endif %}

                                <div class="widget woocommerce widget_product_search">
                                    <form role="search" method="get" class="edgtf-searchform woocommerce-product-search" action="{% url 'search' %}">
                                        <label class="screen-reader-text">Поиск</label>
                                        <div class="input-holder clearfix">
                                            <input type="search" class="search-field" placeholder="Поиск" name="query" value=""  >
                                            <button type="submit" class="edgtf-search-submit"><span aria-hidden="true" class="edgtf-icon-font-elegant icon_search "></span></button>

                                        </div>
                                    </form>
                                </div>
                                <div class="widget woocommerce widget_product_categories">
                                    <div class="edgtf-widget-title-holder">
                                        <h4 class="edgtf-widget-title">Категории</h4>
                                    </div>
                                    <ul class="product-categories">

                                        <li class="cat-item {% if cat_name == 'ВСЕ ПРЕДЛОЖЕНИЯ'%}shop_active_cat{% endif %}"><a  href="{% url 'shop_home' %}">ВСЕ ПРЕДЛОЖЕНИЯ</a></li>
                                        {% for cat in all_categories %}
                                            <li style="text-transform: uppercase" class="cat-item {% if cat.name == cat_name%}shop_active_cat{% endif %}"><a href="{% url 'shop_show_cat' cat.name_slug %}">{{ cat.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="widget woocommerce widget_products">
                                    <div class="edgtf-widget-title-holder">
                                        <h4 class="edgtf-widget-title">СЕТЫ</h4>
                                    </div>
                                    <ul class="product_list_widget">
                                        {% for set in sets %}
                                            <li>
                                                <a href="{% url 'shop_show_set' set.name_slug %}">
                                                    <img width="300" height="300" src="{{ set.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a"
                                                         sizes="(max-width: 300px) 100vw, 300px">
                                                    <span class="product-title">{{ set.name }}</span>
                                                </a>

                                                    {% if user.vip %}
                                                      <span class="woocommerce-Price-amount amount">{{ set.discount_vip_value }} RC</span>
                                                    {% else %}
                                                        {% if set.discount > 0 %}
                                                            <span class="woocommerce-Price-amount amount">{{ set.discount_value }} RC</span>
                                                        {% else %}
                                                        <span class="woocommerce-Price-amount amount">{{ set.get_total_price }} RC</span>
                                                        {% endif %}
                                                    {% endif %}

                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>

                                <div class="widget woocommerce widget_products">
                                    <div class="edgtf-widget-title-holder">
                                        <h4 class="edgtf-widget-title">ИЗБРАННОЕ</h4>
                                    </div>
                                    <span id="fav_items" style="display: none">{{ fav_items }}</span>
                                    <ul class="product_list_widget">
                                        {% if favorites.count > 0 %}
                                            {% for fav_item in favorites %}
                                                {% if fav_item.item %}
                                                    <li >
                                                        <a href="{% url 'shop_show_item' fav_item.item.name_slug %}">
                                                            <img width="300" height="300" src="{{ fav_item.item.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a"
                                                                 sizes="(max-width: 300px) 100vw, 300px">
                                                            <span class="product-title">{{ fav_item.item.name }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                {% if fav_item.subitem %}

                                                    <li>
                                                        <a href="{% url 'shop_show_item' fav_item.subitem.item.name_slug %}?i={{ fav_item.subitem.id }}">
                                                            <img width="300" height="300" src="{{ fav_item.subitem.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a"
                                                                 sizes="(max-width: 300px) 100vw, 300px">
                                                            <span class="product-title">{{ fav_item.subitem.item.name }} {{ fav_item.subitem.color_name }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}



                                            {% endfor %}
                                            </ul>
                                            <hr>
                                            {% if user.is_authenticated %}
                                            <a style="display: block;
                                                  text-align: center;
                                                  margin-top: 25px;"
                                               onclick="massInCart();return false;"
                                               href="#" class="btn-outline btn-xs">Все в корзину</a>
                                                {% endif %}
                                        {% else %}
                                            Избранных товаров нет
                                        {% endif %}


                                </div>

                            </aside>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- close div.content_inner -->
    </div>


{% endblock %}