{% extends 'basic.html' %}
{% load static %}

{% block content %}

 <!-- Page Heading
		================================================== -->
        <div class="page-heading" style="background-image: url({% static 'images/blackmarket.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h1 class="page-heading__title font_scum">BLACK<span class="highlight">MARKET</span></h1>
                        <ol class="page-heading__breadcrumb breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ cat_name }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Heading / End -->
        <!-- Content
		================================================== -->
        <div class="site-content">
            <div class="container">
                <div class="row">
                    <!-- Products -->
                    <div class="col-md-9 order-md-2">
                        <!-- Shop Banner
						================================================== -->
{#                        <div class="shop-banner">#}
{#                            <div class="shop-banner__content">#}
{#                                <div class="shop-banner__txt1">See our new</div>#}
{#                                <h2 class="shop-banner__title">Greyson</h2><span class="shop-banner__subtitle">Fitted Shirt</span> <a href="#" class="btn btn-primary btn-lg shop-banner__btn">Check it Now</a></div>#}
{#                            <figure class="shop-banner__img"><img src="assets/images/samples/shop-banner-img.png" alt=""></figure>#}
{#                            <div class="shop-banner__bg-txt">Greyson</div>#}
{#                            <div class="shop-banner__discount"><span class="shop-banner__discount-txt">Only</span> <span class="shop-banner__discount-price">$50</span></div>#}
{#                        </div>#}
                        <!-- Shop Banner / End -->
                        <!-- Shop Grid -->
                        <div class="card card--clean">
                        {% if cat_name == 'ВСЕ ПРЕДЛОЖЕНИЯ'%}
                            <header class="card__header card__header--shop-filter">
                                <div class="shop-filter">
{#                                    <h5 class="shop-filter__result">фильтры</h5>#}
                                    <form action="" method="get">
                                         <ul class="shop-filter__params">
                                        <li class="shop-filter__control">
                                            <select class="form-control input-xs" name="order">
                                                <option value="0" >фильтрация по признаку</option>
                                                <option {% if order == 'dicount' %}selected="selected"{% endif %} value="dicount">со скидкой</option>
                                                <option {% if order == 'price_gte' %}selected="selected"{% endif %} value="price_gte">начинать с дорогих</option>
                                                <option {% if order == 'price_lte' %}selected="selected"{% endif %}value="price_lte">начинать с дешевых</option>
                                                <option {% if order == 'age_gte' %}selected="selected"{% endif %} value="age_gte">начинать с новых</option>
                                                <option {% if order == 'age_lte' %}selected="selected"{% endif %} value="age_lte">начинать со старых</option>
                                            </select>
                                        </li>

{#                                        <li class="shop-filter__control">#}
{#                                            <select class="form-control input-xs">#}
{#                                                <option>Show 6 per page</option>#}
{#                                                <option>Show 12 per page</option>#}
{#                                                <option>Show 24 per page</option>#}
{#                                            </select>#}
{#                                        </li>#}
                                             <li class="">
                                             <button type="submit" class="btn btn-default btn-outline btn-xs shop_filter_btn">ПРИМЕНИТЬ</button>
                                             </li>

                                    </ul>

                                    </form>

{#                                    <div class="shop-filter__layout"><a href="shop-grid.html" class="shop-filter__grid-layout icon-grid-layout icon-grid-layout--active"><span class="icon-grid-layout__inner"><span class="icon-grid-layout__item"></span> <span class="icon-grid-layout__item"></span> <span class="icon-grid-layout__item"></span> </span></a><a href="shop-list.html" class="shop-filter__list-layout icon-list-layout"><span class="icon-list-layout__inner"><span class="icon-list-layout__item"></span> <span class="icon-list-layout__item"></span> <span class="icon-list-layout__item"></span></span></a></div>#}
                                </div>
                            </header>
                        {% endif %}
                            <div class="card__content">
                                <!-- Products -->
                                <ul class="products products--grid">
                                    {% for item in items %}
                                    <!-- Product #0 -->
                                    <li class="product__item product__item--color-1 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                <div class="product__bg-letters">%%</div>
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="{{ MEDIA_URL }}{{  item.image }}" alt=""></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">{{  item.category.name }}</span>
                                                    <h2 class="product__title"><a href="shop-product.html">{{  item.name }}</a></h2>

                                                </div>
                                                {% if item.discount_value > 0 %}
                                                    <div class="product__price"><del>{{ item.price }} RC</del> <ins>{{  item.discount_value }} RC</ins></div>
                                                {% else %}
                                                    <div class="product__price">{{  item.price }} RC</div>
                                                {% endif %}


                                            </header>
                                            <footer class="product__footer">
                                                <a href="shop-cart.html" class="btn btn-primary btn-icon product__add-to-cart">В корзину</a>
                                            </footer>
                                        </div>
                                    </li>
                                    <!-- Product #0 / End -->
                                    {% endfor %}


                                </ul>
                                <!-- Products / End -->
                            </div>
                        </div>
                        <!-- Shop Grid / End -->

                    </div>
                    <!-- Products / End -->
                    <!-- Sidebar -->
                    <div class="sidebar sidebar--shop col-md-3 order-md-1">
                        <!-- Widget: Categories -->
                        <aside class="widget card widget--sidebar widget_categories">
                            <div class="widget__title card__header">
                                <h4>Categories</h4></div>
                            <div class="widget__content card__content">
                                <ul class="widget__list">

                                    <li class="{% if cat_name == 'ВСЕ ПРЕДЛОЖЕНИЯ'%}shop_active_cat{% endif %}"><a  href="{% url 'shop_home' %}">ВСЕ ПРЕДЛОЖЕНИЯ</a></li>
                                    {% for cat in all_categories %}
                                    <li class="{% if cat.name == cat_name%}shop_active_cat{% endif %}"><a href="{{ cat.name_slug }}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                        <aside class="widget card widget--sidebar widget-products">
                            <div class="widget__title card__header">
                                <h4>выбор пользователей</h4></div>
                            <div class="widget__content card__content">
                                <ul class="products-list">
                                    {% for item in hot_items %}
                                    <li class="products-list__item">
                                        <figure class="products-list__product-thumb">
                                            <a href="#"><img src="{{ MEDIA_URL }}{{  item.image }}" alt=""></a>
                                        </figure>
                                        <div class="products-list__inner"><span class="products-list__product-cat">{{  item.category.name }}</span>
                                            <h5 class="products-list__product-name"><a href="{{  item.category.name_slug }}">{{  item.name }}</a></h5>
                                           <div class="products-list__product-sum">
                                            {% if item.discount_value > 0 %}
                                                    <div class="product__price"><del>{{ item.price }} RC</del> <ins>{{  item.discount_value }} RC</ins></div>
                                                {% else %}
                                                    <div class="product__price">{{  item.price }} RC</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                   {% endfor %}
                                </ul>
                            </div>
                        </aside>
                        <!-- Widget: Hot Products / End -->
                    </div>
                    <!-- Sidebar / End -->
                </div>
            </div>
        </div>
        <!-- Content / End -->

{% endblock %}