{% extends 'basic.html' %}
{% load static %}

{% block content %}

 <!-- Page Heading
		================================================== -->
        <div class="page-heading" style="background-image: url({% static 'images/blackmarket.jpg' %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-8">
                        <h1 class="page-heading__title font_scum">BLACK<span class="highlight">MARKET</span></h1>
                        <ol class="page-heading__breadcrumb breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ cat_name }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Heading / End -->
        <!-- Content
		================================================== -->
        <div class="site-content">
            <div class="container">
                <div class="row">
                    <!-- Products -->
                    <div class="col-md-9 order-md-2">
                        <div class="card card--clean">
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <strong>Вся информация вымышленная и является предметами игры SCUM, любое сходство случайно, реальной ценности не представляет!</strong>
                        </div>



                            <nav id="items_paginator" class="shop-pagination" aria-label="Shop navigation">
                                <ul class="pagination justify-content-end">
                                    {% for pg in items.paginator.page_range %}
                                        {% if items.number == pg %}
                                            <li class="page-item active"><a class="page-link" href="?page={{ pg }}{% if param %}&order={{ param }}{% endif %}#items_paginator">{{pg}}</a></li>
                                        {% else %}

                                            <li class="page-item"><a class="page-link" href="?page={{ pg }}{% if param %}&order={{ param }}{% endif %}#items_paginator">{{pg}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </nav>

                        {% if cat_name == 'ВСЕ ПРЕДЛОЖЕНИЯ'%}
                            <header class="card__header card__header--shop-filter">
                                <div id="items_filter" class="shop-filter">
{#                                    <h5 class="shop-filter__result">фильтры</h5>#}
                                    <form action="#items_filter" method="get">
                                         <ul class="shop-filter__params">
                                        <li class="shop-filter__control">
                                            <select class="form-control input-xs" name="order">
                                                <option value="0" >фильтрация по признаку</option>
                                                <option {% if order == 'discount' %}selected="selected"{% endif %} value="discount">со скидкой</option>
                                                <option {% if order == 'price_gte' %}selected="selected"{% endif %} value="price_gte">начинать с дорогих</option>
                                                <option {% if order == 'price_lte' %}selected="selected"{% endif %}value="price_lte">начинать с дешевых</option>
                                                <option {% if order == 'age_gte' %}selected="selected"{% endif %} value="age_gte">начинать с новых</option>
                                                <option {% if order == 'age_lte' %}selected="selected"{% endif %} value="age_lte">начинать со старых</option>
                                            </select>
                                        </li>
                                             <li>
                                             <button type="submit" class="btn btn-default btn-outline btn-xs shop_filter_btn">ПРИМЕНИТЬ</button>
                                             </li>
                                    </ul>

                                    </form>

{#                                    <div class="shop-filter__layout"><a href="shop-grid.html" class="shop-filter__grid-layout icon-grid-layout icon-grid-layout--active"><span class="icon-grid-layout__inner"><span class="icon-grid-layout__item"></span> <span class="icon-grid-layout__item"></span> <span class="icon-grid-layout__item"></span> </span></a><a href="shop-list.html" class="shop-filter__list-layout icon-list-layout"><span class="icon-list-layout__inner"><span class="icon-list-layout__item"></span> <span class="icon-list-layout__item"></span> <span class="icon-list-layout__item"></span></span></a></div>#}
                                </div>
                            </header>
                        {% endif %}
                            <div class="card__content">
                                <!-- Products -->
                                <ul class="products products--grid">
                                    {% for item in items %}
                                    <!-- Product #0 -->
                                    <li class="product__item product__item--color-1 card">
                                        <div class="product__img">
                                            <div class="product__img-holder">
                                                {% if item.discount_value > 0 %}
                                                <span class="onsale">Скидка</span>
                                                {% endif %}
{#                                                <div class="product__bg-letters">%%</div>#}
                                                <div class="product__slider">
                                                    <div class="product__slide">
                                                        <div class="product__slide-img"><img src="{{  item.image.url }}" alt=""></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product__content card__content">
                                            <header class="product__header">
                                                <div class="product__header-inner"><span class="product__category">{{  item.category.name }}</span>
                                                    <h2 class="product__title">{{  item.name }}</h2>

                                                </div>
                                                {% if item.discount_value > 0 %}
                                                    <div class="product__price"><del>{{ item.price }} RC</del> <ins>{{  item.discount_value }} RC</ins></div>
                                                {% else %}
                                                    <div class="product__price">{{  item.price }} RC</div>
                                                {% endif %}


                                            </header>
                                            <footer class="product__footer">
                                                 {% if user.is_authenticated %}
                                                     {% if item.category.for_sector %}
                                                         {% if item.category.for_sector in player_squad_sector.all  %}
                                                                <form action="{% url 'add_to_cart' %}" id="add-in-cart-form"  method="post" onsubmit="add_to_cart(this);return false;"> {% csrf_token %}
                                                                    <input type="number" id="items_number" class="form-control val_to_cart" min="1" value="1">
                                                                    <input type="hidden" id="item_id" value="{{ item.id }}">
                                                                    <input type="hidden" id="item_name" value="{{ item.name }}">
                                                                    <input type="hidden" id="item_price" value="{{ item.price }}">
                                                                    <input type="hidden" id="item_image" value="{{ item.image }}">
                                                                    <button style="width: 140px;" type="submit" class="btn btn-primary btn-icon product__add-to-cart">В корзину</button>
                                                                </form>
                                                             {% else %}
                                                                 <a class="btn btn-danger btn-xs shop_reg_button" href="#" data-toggle="modal" data-target="#modal-login-register">Твой отряд не владеет сектором</a>
                                                             {% endif %}

                                                     {% else %}
                                                         {% if item.level > user.level %}
                                                             <a class="btn btn-danger btn-xs shop_reg_button" href="#" data-toggle="modal" data-target="#modal-login-register">Недоступно на твоем уровне</a>
                                                         {% else %}
                                                               <form action="{% url 'add_to_cart' %}" id="add-in-cart-form"  method="post" onsubmit="add_to_cart(this);return false;"> {% csrf_token %}
                                                                    <input type="number" id="items_number" class="form-control val_to_cart" min="1" value="1">
                                                                    <input type="hidden" id="item_id" value="{{ item.id }}">
                                                                    <input type="hidden" id="item_name" value="{{ item.name }}">
                                                                    <input type="hidden" id="item_price" value="{{ item.price }}">
                                                                    <input type="hidden" id="item_image" value="{{ item.image }}">
                                                                    <button style="width: 140px;" type="submit" class="btn btn-primary btn-icon product__add-to-cart">В корзину</button>
                                                                </form>
                                                         {% endif %}
                                                     {% endif %}
                                                 {% else %}
                                                     <a class="btn btn-danger btn-xs shop_reg_button" href="#" data-toggle="modal" data-target="#modal-login-register">необходима регистрация</a>
                                                 {% endif %}





                                            </footer>
                                        </div>
                                    </li>
                                    <!-- Product #0 / End -->
                                    {% endfor %}


                                </ul>
                                <!-- Products / End -->
                            </div>
                        </div>
                        <!-- Shop Grid / End -->

                    </div>
                    <!-- Products / End -->
                    <!-- Sidebar -->
                    <div class="sidebar sidebar--shop col-md-3 order-md-1">
                        <!-- Widget: Categories -->
                        <aside class="widget card widget--sidebar widget_categories">
                            <div class="widget__title card__header">
                                <h4>КАТЕГОРИИ</h4></div>
                            <div class="widget__content card__content">
                                <ul class="widget__list">

                                    <li class="{% if cat_name == 'ВСЕ ПРЕДЛОЖЕНИЯ'%}shop_active_cat{% endif %}"><a  href="{% url 'shop_home' %}">ВСЕ ПРЕДЛОЖЕНИЯ</a></li>
                                    {% for cat in all_categories %}
                                    <li class="{% if cat.name == cat_name%}shop_active_cat{% endif %}"><a href="{% url 'shop_show_cat' cat.name_slug %}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                        <aside class="widget card widget--sidebar widget-products">
                            <div class="widget__title card__header">
                                <h4>выбор пользователей</h4></div>
                            <div class="widget__content card__content">
                                <ul class="products-list">
                                    {% for item in hot_items %}
                                    <li class="products-list__item">
                                        <figure class="products-list__product-thumb">
                                            <a style="width: 60px;" href="{% url 'shop_show_cat' item.category.name_slug %}"><img src="{{  item.image.url }}" alt=""></a>
                                        </figure>
                                        <div class="products-list__inner"><span class="products-list__product-cat">{{  item.category.name }}</span>
                                            <h5 class="products-list__product-name"><a href="{% url 'shop_show_cat' item.category.name_slug %}">{{  item.name }}</a></h5>
                                           <div class="products-list__product-sum">
                                            {% if item.discount_value > 0 %}
                                                    <div class="product__price"><del>{{ item.price }} RC</del> <ins>{{  item.discount_value }} RC</ins></div>
                                                {% else %}
                                                    <div class="product__price">{{  item.price }} RC</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                   {% endfor %}
                                </ul>
                            </div>
                        </aside>
                        <!-- Widget: Hot Products / End -->
                    </div>
                    <!-- Sidebar / End -->
                </div>
                                      <nav class="shop-pagination" aria-label="Shop navigation">
                                <ul class="pagination justify-content-end">
                                    {% for pg in items.paginator.page_range %}
                                        {% if items.number == pg %}
                                            <li class="page-item active"><a class="page-link" href="?page={{ pg }}{% if param %}&order={{ param }}{% endif %}#items_paginator">{{pg}}</a></li>
                                        {% else %}

                                            <li class="page-item"><a class="page-link" href="?page={{ pg }}{% if param %}&order={{ param }}{% endif %}#items_paginator">{{pg}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>

                            </nav>
                <div class="alert alert-warning alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <img style="float: left;margin: 10px" src="{% static '/images/Devolver_Digital_Logo.png' %}">
                    <strong>
                        Эти изображения получены с сайта SCUM или с сайтов, созданных и принадлежащих Devolver Digital
                        или Gamepires и Croteam, которые владеют авторским правом на SCUM. Все торговые марки и
                        зарегистрированные торговые марки, представленные на изображении, являются собственностью
                        Devolver Digital. Для получения дополнительной информации см. Уведомление об авторских правах.<br>
                        Считается, что использование изображений для иллюстрации статей, относящихся к предмету
                        рассматриваемых изображений, квалифицируется как законное использование в соответствии с
                        законодательством США об авторском праве, так как такое отображение не существенно ограничивает
                        право владельца авторских прав на продажу материалов, защищенных авторским правом.
                    </strong>
                </div>
            </div>
        </div>
        <!-- Content / End -->

{% endblock %}