{% extends 'shop_items.html' %}
{% load static %}

{% block content %}
    <div class="edgtf-content">
        <div class="edgtf-content-inner">
            <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top" style="height: 300px;background-image: url({% static 'images/blackmarket.jpg' %});" data-height="138">
                <div class="edgtf-title-wrapper">
                    <div class="edgtf-title-inner">
                        <div class="edgtf-grid">
                            <h3 style="text-align: end" class="edgtf-page-title entry-title scum-font">BLACK<span style="color: #ff7e1f">MARKET</span></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 40px;" class="edgtf-container">
                <div class="edgtf-container-inner clearfix">
                    <div class="edgtf-grid-row ">
                        <div class="edgtf-page-content-holder edgtf-grid-col-9">

                            <div class="edgtf-pl-main-holder">
                                <ul class="products columns-3">
                                     {% for item in items %}

                                        <li class="post-285 product type-product status-publish has-post-thumbnail product_cat-clothes product_tag-madness product_tag-philosophy first instock shipping-taxable purchasable product-type-simple">
                                            <div class="edgtf-pl-inner">
                                                <div class="edgtf-pl-image">
                                                    <img width="300" height="300"  src="{{  item.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="{{  item.name }}">
                                                    <div class="edgtf-pl-text">
                                                        <div class="edgtf-pl-text-outer">
                                                            <div class="edgtf-pl-text-inner">
                                                              <a href="{% url 'shop_show_item' item.name_slug %}" class="button product_type_simple add_to_cart_button ajax_add_to_cart"  rel="nofollow">Купить</a>

                                                             </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="{% url 'shop_show_item' item.name_slug %}" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
                                            </div>
                                            <div  class="item-info">
                                                 <h5 class="edgtf-product-list-title">
                                                        {{  item.name }}
                                                    </h5>
                                                    <div style="display: grid;
                                                                grid-template-columns: 40% 55%;
                                                                grid-column-gap: 10px;" class="edgtf-pl-category">
                                                        <div>Категория</div>
                                                        <div>{{  item.category.name }}</div>
                                                        <div>Модификаций</div>
                                                        <div> {{ item.subitem_set.count }}</div>
                                                    </div>




                                            </div>



                                        </li>
                                        {% endfor %}
                                   </ul>
                                </div>
                                <div class="edgtf-shop-pagination">
                                    <ul>
                                        <li class="edgtf-pag-number edgtf-pag-active">
                                            <a href="#">1</a>
                                        </li>
                                        <li class="edgtf-pag-number">
                                            <a itemprop="url" href="https://tetsuo.edge-themes.com/shop/page/2/">2</a>
                                        </li>
                                        <li class="edgtf-pag-next">
                                            <a itemprop="url" href="https://tetsuo.edge-themes.com/shop/page/2/">
                                                <svg width="10px" height="21px" viewBox="0 0 9.999 21.257">
                                                    <path fill="currentColor" d="M2,5.045l5.253,5.583L2,16.212V5.045 M0,0v21.257l9.999-10.629L0,0L0,0z"></path>
                                                </svg>
                                            </a>
                                        </li>

                                </ul>
                            </div>

                        </div>
                        <div class="edgtf-sidebar-holder edgtf-grid-col-3">
                            <aside class="edgtf-sidebar">

                               <form  method="get">

                                   <select class="custom-select custom-select-border-gray mb-40" name="orderby" >
                                            <option value="popularity" >Sort by popularity</option>
                                            <option value="rating" >Sort by average rating</option>
                                            <option value="date" >Sort by newness</option>
                                            <option value="price" >Sort by price: low to high</option>
                                            <option value="price-desc"  selected='selected'>Sort by price: high to low</option>
                                    </select>

                                <input type="hidden" name="paged" value="1" />
                                </form>


                                <div class="widget woocommerce widget_product_search">
                                    <form role="search" method="get" class="edgtf-searchform woocommerce-product-search" action="https://tetsuo.edge-themes.com/">
                                    <label class="screen-reader-text">Search for:</label>
                                    <div class="input-holder clearfix">
                                        <input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search for:">
                                        <button type="submit" class="edgtf-search-submit"><span aria-hidden="true" class="edgtf-icon-font-elegant icon_search "></span></button>
                                        <input type="hidden" name="post_type" value="product">
                                    </div>
                                </form>
                                </div>
                                <div class="widget woocommerce widget_product_categories">
                                    <div class="edgtf-widget-title-holder">
                                        <h4 class="edgtf-widget-title">Категории</h4>
                                    </div>
                                    <ul class="product-categories">
                                        <li class="cat-item cat-item-42"><a href="https://tetsuo.edge-themes.com/product-category/animation/">СЕТЫ</a></li>
                                        <li class="cat-item cat-item-46"><a href="https://tetsuo.edge-themes.com/product-category/clothes/">Clothes</a></li>
                                        <li class="cat-item cat-item-53"><a href="https://tetsuo.edge-themes.com/product-category/design/">Design</a></li>
                                        <li class="cat-item cat-item-55"><a href="https://tetsuo.edge-themes.com/product-category/inspiration/">Inspiration</a></li>
                                        <li class="cat-item cat-item-54"><a href="https://tetsuo.edge-themes.com/product-category/special-effects/">Special Effects</a></li>
                                        <li class="cat-item cat-item-15"><a href="https://tetsuo.edge-themes.com/product-category/uncategorized/">Uncategorized</a></li>
                                    </ul>
                                </div>

                                 <div class="widget woocommerce widget_products">
                                    <div class="edgtf-widget-title-holder">
                                        <h4 class="edgtf-widget-title">СЕТЫ</h4>
                                    </div>
                                    <ul class="product_list_widget">
                                        <li>
                                            <a href="https://tetsuo.edge-themes.com/product/poster/">
                                                <img width="300" height="300" src="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" srcset="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-300x300.jpg 300w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-150x150.jpg 150w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-70x70.jpg 70w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-100x100.jpg 100w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9.jpg 596w" sizes="(max-width: 300px) 100vw, 300px">		<span class="product-title">Poster</span>
                                            </a>

                                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>399</span>
                                        </li>
                                        <li>

                                            <a href="https://tetsuo.edge-themes.com/product/recorder/">
                                                <img width="300" height="300" src="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" srcset="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-300x300.jpg 300w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-150x150.jpg 150w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-70x70.jpg 70w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-100x100.jpg 100w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4.jpg 596w" sizes="(max-width: 300px) 100vw, 300px">		<span class="product-title">Recorder</span>
                                            </a>

                                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>70</span>
                                        </li>
                                        <li>

                                            <a href="https://tetsuo.edge-themes.com/product/wallpaper/">
                                                <img width="300" height="300" src="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" srcset="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-300x300.jpg 300w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-150x150.jpg 150w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-70x70.jpg 70w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-100x100.jpg 100w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10.jpg 596w" sizes="(max-width: 300px) 100vw, 300px">		<span class="product-title">Wallpaper</span>
                                            </a>

                                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>2</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="widget woocommerce widget_products">
                                    <div class="edgtf-widget-title-holder">
                                        <h4 class="edgtf-widget-title">В ИЗБРАННОМ</h4>
                                    </div>
                                    <ul class="product_list_widget">
                                        <li>
                                            <a href="https://tetsuo.edge-themes.com/product/poster/">
                                                <img width="300" height="300" src="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" srcset="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-300x300.jpg 300w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-150x150.jpg 150w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-70x70.jpg 70w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9-100x100.jpg 100w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-9.jpg 596w" sizes="(max-width: 300px) 100vw, 300px">		<span class="product-title">Poster</span>
                                            </a>

                                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>399</span>
                                        </li>
                                        <li>

                                            <a href="https://tetsuo.edge-themes.com/product/recorder/">
                                                <img width="300" height="300" src="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" srcset="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-300x300.jpg 300w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-150x150.jpg 150w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-70x70.jpg 70w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4-100x100.jpg 100w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-4.jpg 596w" sizes="(max-width: 300px) 100vw, 300px">		<span class="product-title">Recorder</span>
                                            </a>

                                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>70</span>
                                        </li>
                                        <li>

                                            <a href="https://tetsuo.edge-themes.com/product/wallpaper/">
                                                <img width="300" height="300" src="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" srcset="https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-300x300.jpg 300w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-150x150.jpg 150w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-70x70.jpg 70w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10-100x100.jpg 100w, https://tetsuo.edge-themes.com/wp-content/uploads/2018/07/Product-feat-img-10.jpg 596w" sizes="(max-width: 300px) 100vw, 300px">		<span class="product-title">Wallpaper</span>
                                            </a>

                                            <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>2</span>
                                        </li>
                                    </ul>
                                </div>

                            </aside>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- close div.content_inner -->
    </div>
{% endblock %}