{% extends 'basic_shop.html' %}
{% load static %}

{% block content %}
    <div class="edgtf-content">
        <div class="edgtf-content-inner">
            <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top" style="height: 300px;background-image: url({% static 'images/blackmarket.jpg' %});" data-height="138">
                <div class="edgtf-title-wrapper">
                    <div class="edgtf-title-inner">
                        <div class="edgtf-grid">
                            <h3 style="text-align: end" class="edgtf-page-title entry-title scum-font">BLACK<span style="color: #ff7e1f">MARKET</span></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div  style="margin-top: 40px;" class="edgtf-container">
                <div class="edgtf-container-inner clearfix">
                    <div id="product-242" class="post-242 product type-product status-publish has-post-thumbnail product_cat-animation product_tag-madness product_tag-philosophy first instock sale shipping-taxable purchasable product-type-simple">

                        <div style="    display: grid;    grid-template-columns: 1fr 1fr; grid-gap: 30px">
                            <div>
                                <div style="text-align: center;
                            border: 2px solid #ec4e00;
                            margin-bottom: 30px;">
                                    <img id="item_image_big" src="{{ item.image.url }}">
                                </div>
                            <span id="is_vip" style="display: none">{{ is_vip }}</span>
                            <span id="level" style="display: none">{{ player.level }}</span>

                                <div style="    display: grid;    grid-template-columns: repeat(auto-fill, minmax(110px, auto));">
                                    {% for subitem in subitems %}
                                        <img id="subitem_{{ subitem.id }}" class="subitem-image"
                                             data-id="{{ subitem.id }}"
                                             data-price="{{ subitem.price }}"
                                             data-color_name="{{ subitem.color_name }}"
                                             data-level="{{ subitem.level }}"
                                             data-image_big="{{ subitem.image.url }}"
                                             data-image="{{ subitem.image}}"
                                             data-description="{{ subitem.description }}"
                                             data-discount_percent="{{ subitem.discount }}"
                                             data-discount="{{ subitem.discount_value }}"
                                             data-discount_vip="{{ subitem.discount_vip_value }}"
                                              {% if subitem.id in favorites_subitem_id %}
                                                    data-in_fav="1"
                                                {% else %}
                                                    data-in_fav="0"
                                              {% endif %}

                                             src="{{ subitem.image.url }}"
                                             onclick="changeItem(this)"
                                        >
                                    {% endfor %}
                                </div>



                            </div>
                            <div class="">
                                <div class="summary entry-summary">
                                    <h2 itemprop="name" class="edgtf-single-product-title">{{ item.name }} <span id="item_color"></span></h2>
                                    <div class="item-price">
                                        {% if user.vip  %}
                                            <span class="price">
                                                <ins>
                                                    <span id="discount_vip" style="color: #ec4e00; font-size: 30px;" class="woocommerce-Price-amount amount">{{  item.discount_vip_value }} RC</span>
                                                </ins>
                                                <del>
                                                    <span id="price" class="woocommerce-Price-amount amount">
                                                        {{ item.price }} RC</span>
                                                </del>

                                                </span>
                                        {% else %}
                                            {% if item.discount_value > 0 %}
                                                <span class="price">
                                                    <ins>
                                                        <span id="discount" style="color: #ec4e00; font-size: 30px;" class="woocommerce-Price-amount amount">{{  item.discount_value }} RC</span>
                                                    </ins>
                                                    <del>
                                                        <span id="price" class="woocommerce-Price-amount amount">
                                                            {{ item.price }} RC</span>
                                                    </del>

                                                    </span>

                                            {% else %}
                                                <span class="price">
                                                    <span id="price" class="woocommerce-Price-amount amount">
                                                        {{  item.price }} RC
                                                    </span>
                                                    </span>

                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if user.vip %}
                                        <span class="edgtf-onsale">
                                            <div id="discount_vip_label">-30% VIP</div>
                                            </span>
                                    {% else %}
                                        {% if item.discount_value > 0 %}
                                            <span class="edgtf-onsale">
                                            <div id="discount_label">- {{ item.discount }}%</div>
                                            </span>
                                        {% endif %}
                                    {% endif %}


                                    <div class="woocommerce-product-details__short-description">
                                        <p id="item_description">{{ item.description }}</p>
                                    </div>
                                    <div class="product_meta">

                                    </div>

                                {% if user.is_authenticated %}

    {% if item.category.for_sector %}
        {% if item.category.for_sector in player_squad_sector.all  %}
            <form action="{% url 'add_to_cart' %}" id="add-in-cart-form"  method="post" onsubmit="add_to_cart(this);return false;"> {% csrf_token %}
                <input type="number" id="items_number" class="form-control val_to_cart" min="1" value="1">


                <input type="hidden" id="item_id" value="{{ item.id }}">
                <input type="hidden" id="item_name" value="{{ item.name }}">
                <input type="hidden" id="item_price" value="{{ item.price }}">
                <input type="hidden" id="item_image" value="{{ item.image }}">
                <button style="width: 140px;" type="submit" class="btn btn-primary btn-icon product__add-to-cart">В корзину</button>
            </form>
        {% else %}
            <a class="btn btn-danger btn-xs shop_reg_button" href="#" data-toggle="modal" data-target="#modal-login-register">Твой отряд не владеет сектором</a>
        {% endif %}

    {% else %}
        {% if not user.vip and item.level > user.level   %}
            <a class="btn btn-danger btn-xs shop_reg_button" href="#" >Недоступно на твоем уровне</a>

        {% else %}
            <form id="cart_form"  action="{% url 'add_to_cart' %}" id="add-in-cart-form"  method="post" onsubmit="add_to_cart(this);return false;"> {% csrf_token %}

                <div  class="edgtf-quantity-buttons quantity">
                                            <label class="screen-reader-text" for="quantity_5cffe54fbc1ae">Количество</label>
                                            <span class="edgtf-quantity-minus icon_minus-06"></span>
                                            <span class="edgtf-quantity-plus icon_plus"></span>
                                            <input type="text" id="items_number" class="input-text qty text edgtf-quantity-input val_to_cart" data-step="1" data-min="1" data-max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" aria-labelledby="">
                                        </div>

                <input type="hidden" id="item_id" value="{{ item.id }}">
                <input type="hidden" id="item_name" value="{{ item.name }}">
                <input type="hidden" id="item_price" value="{{ item.price }}">
                <input type="hidden" id="item_image" value="{{ item.image }}">
                <input type="hidden" id="item_subitem" value="0">

                <button type="submit" id="submit_button" class="btn-outline btn-small">Купить</button>
                {% if item.id in favorites_id %}
                    <button type="button" id="addtofav" class="btn-outline btn-small" data-item_id="{{ item.id }}" data-subitem_id="0" onclick="add_to_favorite(this)" >Удалить из избранного</button>
                    {% else %}
                    <button type="button" id="addtofav" class="btn-outline btn-small" data-item_id="{{ item.id }}" data-subitem_id="0" onclick="add_to_favorite(this)" >В ИЗБРАННОЕ</button>
                    {% endif %}

            </form>
            <span style="display: none" id="low_level">Недоступно на твоем уровне</span>

        {% endif %}
    {% endif %}
{% else %}
    <a class="btn-outline btn-xs btn-warn" href="/login/steam/">НЕОБХОДИМА РЕГИСТРАЦИЯ</a>
{% endif %}

                                </div>

                            </div></div>


                    </div>

                </div>
            </div>

        </div> <!-- close div.content_inner -->
    </div>
    <script>

    function add_to_favorite(el) {

        let btn = $(el)
        let item_id = btn.data('item_id')
        let subitem_id = btn.data('subitem_id')

        let url = '/blackmarket/add_to_favorite/';
        let csrf_token = $('#dummy_form [name="csrfmiddlewaretoken"]').val();

        var data = {};
        data.item_id = item_id;
        data.subitem_id = subitem_id;
        data['csrfmiddlewaretoken'] = csrf_token;

        console.log(data);
        $.ajax({
            url:url,
            type:'POST',
            data: data,
            cache:true,
            success: function (data) {
                console.log('OK');
                console.log(data);
                if (data.action === 'added'){
                     console.log('added');
                    btn.html('УДАЛИТЬ ИЗ ИЗБРАННОГО')

                    $.amaran({
                        'theme'     :'colorful',
                        'content'   :{
                           bgcolor:'#27ae60',
                           color:'#fff',
                           message:'Товар добавлен в избранное'
                        },
                        'position'  :'bottom right',
                        'outEffect' :'slideBottom'
                    });


                }

                if (data.action === 'deleted'){
                    console.log('deleted');
                    btn.html('В ИЗБРАННОЕ')

                    $.amaran({
                        'theme'     :'colorful',
                        'content'   :{
                           bgcolor:'#ae1737',
                           color:'#fff',
                           message:'Товар удален из избранного'
                        },
                        'position'  :'bottom right',
                        'outEffect' :'slideBottom'
                    });


                }



            },
            error: function () {
                console.log('ERROR')
            }
        });


    }


        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };

    function changeItem(i) {


        let subitem_id = i.dataset.id
        let subitem_level = i.dataset.level
        let subitem_price = i.dataset.price
        let subitem_image = i.dataset.image
        let subitem_image_big = i.dataset.image_big
        let subitem_description = i.dataset.description
        let subitem_discount = i.dataset.discount
        let subitem_discount_vip = i.dataset.discount_vip
        let subitem_discount_percent = i.dataset.discount_percent
        let subitem_color_name = i.dataset.color_name
        let subitem_in_fav = i.dataset.in_fav




        $('#item_image_big').attr('src',subitem_image_big)

        $('#addtofav').attr('data-item_id',0)
        $('#addtofav').attr('data-subitem_id',subitem_id)

        if (subitem_in_fav === '1'){
            $('#addtofav').html('УДАЛИТЬ ИЗ ИЗБРАННОГО')
        }
        else{
            $('#addtofav').html('В Избранное')
        }

        if ($('#is_vip').html() === 'True'){

            $('#discount_vip').html(subitem_discount_vip + ' RC')
            $('#price').html(subitem_price + ' RC')
            $('#discount_vip_label').html('-30% VIP')


            $('#item_name').val(subitem_color_name)
            $('#item_price').val(subitem_discount_vip)
            $('#item_image').val(subitem_image)
            $('#item_subitem').val(subitem_id)



        }else {

            if (parseInt($('#level').html()) < parseInt(subitem_level)){
                $('#cart_form').css('display','none');
                $('#low_level').css('display','block');

            }
            else{
                 $('#cart_form').css('display','block');
                $('#low_level').css('display','none');


            }

            if (subitem_discount > 0){
              $('#discount').html(subitem_discount + ' RC')
                $('#price').html(subitem_price + ' RC')
                $('#discount_label').html('- '+ subitem_discount_percent + '%')
                $('#price').css('display','inline-block')
                $('.edgtf-onsale').css('display','block')
                 $('#item_price').val(subitem_discount)
            }
            else{
                $('#discount').html(subitem_price + ' RC')
                $('#price').css('display','none')
                $('.edgtf-onsale').css('display','none')
                 $('#item_price').val(subitem_price)
            }


            $('#item_name').val(subitem_color_name)

            $('#item_image').val(subitem_image)
            $('#item_subitem').val(subitem_id)
        }
        $('#item_description').html(subitem_description)
        $('#item_color').html(subitem_color_name)




    }

        $( document ).ready(function() {
            console.log( "ready!" );



            if(getUrlParameter('i') !== undefined){
               console.log(getUrlParameter('i'));
               document.getElementById('subitem_'+getUrlParameter('i')).click();
            }



        });

    </script>



{% endblock %}


