{% extends 'shop_items.html' %}
{% load static %}

{% block content %}
     <span id="fav_items" style="display: none">{{ total_set_items }}</span>
      <div class="edgtf-content">
        <div class="edgtf-content-inner">
            <div class="edgtf-content-inner">
                <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top" style="height: 300px;background-image: url({% static 'images/blackmarket.jpg' %});" data-height="138">
                    <div class="edgtf-title-wrapper">
                        <div class="edgtf-title-inner">
                            <div class="edgtf-grid">
                                <h3 style="text-align: end" class="edgtf-page-title entry-title scum-font">ОФОРМЛЕНИЕ<span style="color: #ff7e1f">ЗАКАЗА</span></h3>
                                <div style="text-align: end" class="breadcrumbs">
                                <ul >
                                    <li><a href="/">Главная</a></li>
                                     <li><a href="{% url 'shop_home' %}">BlackMarket</a></li>
                                    <li>Оформление заказа</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div style="margin-top: 40px" class="edgtf-full-width">
                    <div class="edgtf-full-width-inner">
                        <div class="edgtf-grid-row">
                            <div class="edgtf-page-content-holder edgtf-grid-col-12">
                                <div class="edgtf-row-grid-section-wrapper ">
                                    <div class="edgtf-row-grid-section">
                                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1534166646182">




                                                    <h3>В заказе</h3>
                                                 <div class="custom_hr"></div>
                                                     {% for item in cart_items %}
                                                         {% if item.item.id %}
                                                         <div class="order-item">
                                                         <img width="100px" src="{{ item.item.image.url }}">
                                                             <div>
                                                                 <h4>{{ item.item.name }} X {{ item.number }} = {{ item.total_price }} RC</h4>

                                                             </div>

                                                         </div>
                                                         {% endif %}
                                                         {% if item.subitem.id %}
                                                         <div class="order-item">
                                                         <img width="100px" src="{{ item.subitem.image.url }}">
                                                             <div>
                                                                 <h4>{{ item.subitem.item.name }} {{item.subitem.color_name }} X {{ item.number }} = {{ item.total_price }} RC</h4>

                                                             </div>

                                                         </div>
                                                         {% endif %}



                                                     {% endfor %}
                                                 <div class="custom_hr"></div>
                                                <h5>Общая стоимость : {{ total_cart_price }} RC</h5>
                                                <h6>Баланс игрока : {{ player.wallet }} RC</h6>
                                                <h6>Осталось покупок : {{ buy_count }}</h6>




                                                {% if no_money %}
                                                    <span style="margin-bottom: 20px;
                                                        color: #e42626;
                                                        display: block;
                                                        border: 2px dashed #e42626;
                                                        text-align: center;
                                                        font-weight: 700;
                                                        padding: 20px;">Нехватает RC для покупки</span>
                                                {% elif buy_limit %}
                                                <span style="margin-bottom: 20px;
                                                    color: #e42626;
                                                    display: block;
                                                    border: 2px dashed #e42626;
                                                    text-align: center;
                                                    font-weight: 700;
                                                    padding: 20px;">Лимит покупок в день исчерпан</span>

                                                {% else %}
                                                    <form style="min-width: 50%" action="{% url 'place_order' %}" method="post">{% csrf_token %}
                                                        <label for="server">На какой сервер доставить покупку?<span class="required">*</span></label>
                                                            <select class="custom-select profile-select"
                                                                    name="server" id="server"  required="required" >

                                                                    <option style="color: #000" value="0">Сервер #1 (Общий)</option>
                                                                    <option style="color: #000" value="1">Сервер #2 (Приватный)</option>


                                                            </select>
                                                    <button style="margin-top: 20px" type="submit">Оформить</button>

                                                    </form>

                                                {% endif %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- close div.content_inner -->
    </div>
    <div class="gap-20"></div>
    <div class="gap-20"></div>
{% endblock %}