{% extends 'shop_items.html' %}
{% load static %}

{% block content %}
     <span id="fav_items" style="display: none">{{ total_set_items }}</span>
      <div class="edgtf-content">
        <div class="edgtf-content-inner">
            <div class="edgtf-content-inner">
                <div class="edgtf-title-holder edgtf-centered-type edgtf-title-va-window-top" style="height: 300px;background-image: url({% static 'images/blackmarket.jpg' %});" data-height="138">
                    <div class="edgtf-title-wrapper">
                        <div class="edgtf-title-inner">
                            <div class="edgtf-grid">
                                <h3 style="text-align: end" class="edgtf-page-title entry-title scum-font">СОСТАВ СЕТА<br><span style="color: #ff7e1f">{{ set_item.name }}</span></h3>
                                <div style="text-align: end" class="breadcrumbs">
                                <ul >
                                    <li><a href="/">Главная</a></li>
                                     <li><a href="{% url 'shop_home' %}">BlackMarket</a></li>

                                    <li>Обзор сета</li>
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div style="margin-top: 40px" class="edgtf-full-width">
                    <div class="edgtf-full-width-inner">
                        <div class="edgtf-grid-row">
                            <div class="edgtf-page-content-holder edgtf-grid-col-12">
                                <div class="edgtf-row-grid-section-wrapper ">
                                    <div class="edgtf-row-grid-section">
                                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1534166646182">

                                            <div class="set-wrapper">
                                                <div class="set-description">
                                                    <img src="{{ set_item.image.url }}">
                                                    <p>{{ set_item.description }}</p>

                                                </div>
                                                 <div class="set-items">
                                                     {% if user.vip %}
                                                      <h3>Цена : {{ set_item.discount_vip_value }} RC</h3>
                                                     {% else %}
                                                        {% if set_item.discount > 0 %}
                                                            <h3>Цена : {{ set_item.discount_value }} RC</h3>
                                                        {% else %}
                                                            <h3>Цена : {{ set_item.get_total_price }} RC</h3>
                                                         {% endif %}
                                                     {% endif %}

                                                    <h3>Cостав</h3>
                                                 <div class="custom_hr"></div>
                                                     {% for item in set_items %}
                                                         <div class="set-item">
                                                         <img width="100px" src="{{ item.image.url }}">
                                                             <div>
                                                                 <h4>{{ item.name }}</h4>
                                                         <p>{{ item.description }}</p>
                                                             </div>

                                                         </div>
                                                     {% endfor %}
                                                 {% for item in set_subitems %}
                                                         <div class="set-item">
                                                         <img width="100px" src="{{ item.image.url }}">
                                                             <div>
                                                                 <h4>{{ item.name }}</h4>
                                                         <p>{{ item.description }}</p>
                                                             </div>

                                                         </div>
                                                     {% endfor %}
                                                 {% if user.is_authenticated %}


                                                 <a style="display: block;
                                                  text-align: center;
                                                  margin-top: 25px;"
                                               onclick="massInCart();return false;"
                                               href="#" class="btn-outline btn-xs">Все в корзину</a>
                                                 {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- close div.content_inner -->
    </div>
    <div class="gap-20"></div>
    <div class="gap-20"></div>
{% endblock %}