@font-face {
  font-family: "scum_font";
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/10929.otf');
}

.mb-40{
    margin-bottom: 40px;

}

h1{
    font-size: 60px !important;
}

.bg-red{
    background-color: #ec1f20 !important;
}

.bg-green{
    background-color: #2eec16 !important;
}

.scum-font{
    font-family: scum_font,sans-serif !important;
}

.edgtf-logo-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edgtf-logo-wrapper a span{
   font-family: scum_font,sans-serif;
}

.item_text {
    font-family: 'Roboto Condensed', sans-serif;
}

.edgtf-al-text{
    font-family: 'Roboto Condensed', sans-serif;
}

.home_promo_img{
    float: left;
    margin-right: 20px;
}

.edgtf-btn-text{
    font-family: 'Roboto Condensed', sans-serif;
}

.edgtf-post-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.footer-text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.footer-custom-menu ul li a{
     font-family: 'Roboto Condensed', sans-serif !important;
}
.squad_members{
    min-width: 45%;
}
.modal {
  display: block;
  position: fixed;
  z-index: 999999;
  padding-top: 12%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.59); }


.modal-content {
  background: #0a0a0a;
  margin: auto;
  padding: 40px 0 0 40px;
  border: 2px dotted #ff0000;
  max-width: 710px;
    min-height: 240px;
  border-radius: 8px; }


@media only screen and (max-width:375px) {
    .edgtf-animated-link .edgtf-al-text {
        font-size: 20px;
    }
    .edgtf-si-images-holder{
        display: none !important;
    }
}


@media only screen and (max-width:1440px) {

    #slide-10-layer-1{
        left: 130px !important;
    }
    #slide-10-layer-3{
        left: 160px !important;
    }
    #slide-10-layer-9{
        left: 0 !important;
    }
}


.custom-select{
    border: 2px solid #ec4e00;
    background: none;
    color: #fff;
    font-size: 16px;
    padding: 16px 10px;
    width: 100%;
}

.custom-select-border-gray{
   border: 2px solid #272727 !important;
}

.custom-select option {
    margin: 40px;
    background: #111111;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.subitem-image{
    width: 100px;
    border: 2px solid #272727;
    padding: 5px;

}
.subitem-image:hover{
    border: 2px solid #ec4e00;
    cursor: pointer;
}