{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Description" content='Любите играть в SCUM? Но надоели сервера с лагами,читерами,малым онлайном и стабильностью, и пассивной администрацией. Тогда вам к нам !'>

      <meta name="Keywords" content='scum game,game scum,играть в скам, scum сервер,scum game server, game scum server,сервер scum,scum cервер , scum server ru, scum server eu , русский сервер scum'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }} | ИГРОВОЙ СЕРВЕР SCUM SURVIVAL </title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link href="{% static 'css/bootstrap.css'%} " rel="stylesheet" type="text/css" />
     <link href="{% static 'css/bootstrap.css'%} " rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css'%} " rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.css'%} " rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css'%} " rel="stylesheet">
    <link href="{% static 'css/slick.css'%} " rel="stylesheet">
    <!-- Template CSS-->
    <link href="{% static 'css/style-basketball-dark.css'%} " rel="stylesheet">
    <!-- Custom CSS-->
    <link href="{% static 'css/custom.css'%} " rel="stylesheet">
     <link href="{% static 'css/amaran.min.css'%} " rel="stylesheet">
     <link href="{% static 'css/animate.min.css'%} " rel="stylesheet">


</head>

<body>

 <div class="site-wrapper clearfix">
        <div class="site-overlay"></div>

<form id="dummy_form">{% csrf_token %}

</form>



{% include 'header.html' %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}
 </div>

  <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
    <script src="{% static 'js/core.js'%}"></script>
    <!-- Vendor JS -->
{#    <script src="{% static 'js/jquery.twitter.js'%}"></script>#}
    <!-- Template JS -->
    <script src="{% static 'js/init.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
    <script src="{% static 'js/add_to_cart.js'%}"></script>
    <script src="{% static 'js/delete_from_cart.js'%}"></script>
     <script src="{% static 'js/place_order.js'%}"></script>
    <script src="{% static 'js/jquery.amaran.min.js'%}"></script>
 <script src="{% static 'js/jquery.marquee.min.js'%}"></script>
    
    


</body>

</html>
