  {% load static %}
   <footer id="footer" class="footer">
            <!-- Footer Widgets -->
            <div class="footer-widgets">
                <div class="footer-widgets__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="footer-col-inner">
                                    <!-- Footer Logo -->
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="{% static 'images/logo.png' %}" srcset="{% static 'images/logo.png' %}" alt="Alchemists" class="footer-logo__img"></a>
                                    </div>
                                    <!-- Footer Logo / End -->
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <div class="footer-col-inner">
                                    <!-- Widget: Contact Info -->
                                    <div class="widget widget--footer widget-contact-info">
                                        <h4 class="widget__title">О НАС</h4>
                                        <div class="widget__content">
                                            <div class="widget-contact-info__desc">
                                                <p>RUSSIA SURVIVAL [HARDCORE] - это атмосфера выживания на острове.</p>
                                            </div>
                                            <div class="widget-contact-info__body info-block">
                                                <ul>
                                                    <li>ПРАВИЛА СЕРВЕРА</li>
                                                    <li>ПОМОЩЬ</li>
                                                    <li>ОБРАТНАЯ СВЯЗЬ</li>
                                                </ul>
                                                <div class="info-block__item info-block__item--nopadding">
                                                    <ul class="social-links">
                                                     <li class="social-links__item"><a href="https://vk.com/scum_survival" class="social-links__link" target="_blank"><i class="fa fa fa-vk"></i>ГРУППА ВК</a></li>

                                                        <li class="social-links__item"><a href="https://discord.gg/sgUz53k" class="social-links__link" target="_blank"><i class="fa fa fa-comments"></i>НАШ ДИСКОРД</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Widget: Contact Info / End -->
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <div class="footer-col-inner">
                                    <!-- Widget: Popular Posts / End -->
                                    <div class="widget widget--footer widget-popular-posts">
                                        <h4 class="widget__title">ПОЛЕЗНЫЕ ССЫЛКИ</h4>
                                        <div class="widget__content">
                                            <ul class="posts posts--simple-list">
                                                <li class="posts__item posts__item--category-2">

                                                    <h6 class="posts__title"><a href="#">ЧТО ТАКОЕ SCUM?</a></h6>

                                                </li>
                                                <li class="posts__item posts__item--category-1">

                                                    <h6 class="posts__title"><a href="#">О СЕРВЕРЕ</a></h6>

                                                </li>
                                                <li class="posts__item posts__item--category-1">

                                                    <h6 class="posts__title"><a href="#">ПОДДЕРЖАТЬ СЕРВЕР</a></h6>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Widget: Popular Posts / End -->
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <div class="footer-col-inner">

                                    <div class="widget widget--footer widget-instagram">
                                        <h4 class="widget__title">BattleMetrics</h4>
                                        <div class="widget__content">
                                        <script type="application/javascript">window.addEventListener('message',function(e){if(e.data.uid&&e.data.type==='sizeUpdate'){var i = document.querySelector('iframe[name="'+e.data.uid+'"]');i.style.width = e.data.payload.width;i.style.height = e.data.payload.height;}});</script><iframe src="https://cdn.battlemetrics.com/b/standardVertical/2966477.html?foreground=%23ff7e1f&linkColor=%23ff7e1f&lines=%23ff7e1f&background=%23191b1e&chart=players%3A24H&chartColor=%23ff7e1f&showPlayers=&maxPlayersHeight=300" frameborder=0 style="border:0" name="fatek"></iframe>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Widgets / End -->
            <!-- Footer Secondary -->
            <div class="footer-secondary footer-secondary--has-decor">
                <div class="container">
                    <div class="footer-secondary__inner">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <ul class="footer-nav">

                                    <li class="footer-nav__item"><a href="team-standings.html">СТАТИСТИКА</a></li>
                                    <li class="footer-nav__item"><a href="team-overview.html">МЕРОПРИЯТИЯ</a></li>
                                    <li class="footer-nav__item"><a href="{% url 'all_squads' %}">ОТРЯДЫ</a></li>
                                    <li class="footer-nav__item"><a href="{% url 'shop_home' %}">BLACKMARKET</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Secondary / End -->
        </footer>
        <!-- Footer / End -->

     {% if not user.is_authenticated %}
        <!-- Login/Register Modal -->
        <div class="modal fade" id="modal-login-register" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal--login" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-account-holder">

                            <div class="modal-account__item">
                                 <button type="button" class="close btn_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div class="modal-form--note"><p>Регистрация и авторизация работает через SteamOpenID,
                                        вы будете перенаправлены на соответствующую страницу сервиса STEAM,
                                        где нужно будет ввести свой логин и пароль. </p>
                                        Мы гарантируем, что :
                                        <ul>
                                            <li><strong>Учётные данные вашего аккаунта Steam не будут переданы третьим лицам.</strong></li>
                                            <li>
                                                Уникальный цифровой идентификатор будет передан на наш сайт. Благодаря этому мы сможем идентифицировать ваш профиль Steam и получить доступ к той информации о нём, которую вы сделали общедоступной.
                                            </li>
                                            <li>
                                            Сайт получит доступ к любой общедоступной информации из вашего профиля Steam.
                                            </li>
                                        </ul>



                                    </div>

                            </div>
                            <div class="modal-account__item">
                                <img src="{% static 'images/steam_logo.png' %}">


                                <a href="{% url "social:begin" "steam" %}" class="btn btn-warning btn-outline btn-sm"> <i style="font-size: 18px" class="fa fa-steam fa-3" aria-hidden="true"></i><span style="font-size: 18px"> ВОЙТИ ЧЕРЕЗ STEAM</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login/Register Modal / End -->
   {% endif %}