  {% load static %}
   <footer id="footer" class="footer">
            <!-- Footer Widgets -->
{#            <div class="footer-widgets">#}
{#                <div class="footer-widgets__inner">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-sm-12 col-md-3">#}
{#                                <div class="footer-col-inner">#}
{#                                    <!-- Footer Logo -->#}
{#                                    <div class="footer-logo">#}
{#                                        <a href="index.html"><img src="{% static 'images/logo.png' %}" srcset="{% static 'images/logo.png' %}" alt="Alchemists" class="footer-logo__img"></a>#}
{#                                    </div>#}
{#                                    <!-- Footer Logo / End -->#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-4 col-md-4">#}
{#                                <div class="footer-col-inner">#}
{#                                    <!-- Widget: Contact Info -->#}
{#                                    <div class="widget widget--footer widget-contact-info">#}
{#                                        <h4 class="widget__title">О НАС</h4>#}
{#                                        <div class="widget__content">#}
{#                                            <div class="widget-contact-info__desc">#}
{#                                                <p>RUSSIA SURVIVAL [HARDCORE] - это атмосфера выживания на острове.</p>#}
{#                                            </div>#}
{#                                            <div class="widget-contact-info__body info-block">#}
{#                                                <ul>#}
{##}
{#                                                </ul>#}
{#                                                <div class="info-block__item info-block__item--nopadding">#}
{#                                                    <ul class="social-links">#}
{#                                                     <li class="social-links__item"><a href="https://vk.com/scum_survival" class="social-links__link" target="_blank"><i class="fa fa fa-vk"></i>ГРУППА ВК</a></li>#}
{##}
{#                                                        <li class="social-links__item"><a href="https://discord.gg/sgUz53k" class="social-links__link" target="_blank"><i class="fa fa fa-comments"></i>НАШ ДИСКОРД</a></li>#}
{#                                                    </ul>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <!-- Widget: Contact Info / End -->#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <div class="col-sm-4 col-md-4">#}
{#                                <div class="footer-col-inner">#}
{#                                    <aside class="widget widget--sidebar widget-social">#}
{#                                        <a href="#" class="btn-social-counter btn-social-counter--fb" target="_blank">#}
{#                                            <div class="btn-social-counter__icon"><i class="fa fa-steam"></i></div>#}
{#                                            <h6 class="btn-social-counter__title">КУПИТЬ SCUM</h6>#}
{#                                             <span class="btn-social-counter__add-icon"></span> </a>#}
{#                                        <a href="https://twitter.com/danfisher_dev" class="btn-social-counter btn-social-counter--twitter"#}
{#                                           target="_blank">#}
{#                                            <div class="btn-social-counter__icon"><i class="fa fa-twitter"></i></div>#}
{#                                            <h6 class="btn-social-counter__title">ПРАВИЛА СЕРВЕРА</h6>#}
{##}
{#                                            <span class="btn-social-counter__add-icon"></span> </a>#}
{#                                        <a href="#" class="btn-social-counter btn-social-counter--rss" target="_blank">#}
{#                                            <div class="btn-social-counter__icon"><i class="fa fa-rss"></i></div>#}
{#                                            <h6 class="btn-social-counter__title">ПОМОЩЬ</h6>#}
{#                                             <span class="btn-social-counter__add-icon"></span></a>#}
{#                                        <a href="#" class="btn-social-counter btn-social-counter--rss" target="_blank">#}
{#                                            <div class="btn-social-counter__icon"><i class="fa fa-rss"></i></div>#}
{#                                            <h6 class="btn-social-counter__title">ОБРАТНАЯ СВЯЗЬ</h6>#}
{#                                             <span class="btn-social-counter__add-icon"></span></a>#}
{#                                         <a href="#" class="btn-social-counter btn-social-counter--rss" target="_blank">#}
{#                                            <div class="btn-social-counter__icon"><i class="fa fa-rss"></i></div>#}
{#                                            <h6 class="btn-social-counter__title">ПОДДЕРЖАТЬ СЕРВЕР</h6>#}
{#                                             <span class="btn-social-counter__add-icon"></span></a>#}
{#                                    </aside>#}
{##}
{##}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <!-- Footer Widgets / End -->
            <!-- Footer Secondary -->
            <div class="footer-secondary footer-secondary--has-decor">
                <div class="container">
                    <div class="footer-secondary__inner">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <ul style="margin-top: 10px;" class="footer-nav">
                                 <li style="font-family: scum_font; font-size: 20px; color: #ff7e1f" > 2018-2019 SURVIVAL SCUM - РУССКИЙ СЕРВЕР.</li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Secondary / End -->
        </footer>
        <!-- Footer / End -->

     {% if not user.is_authenticated %}
        <!-- Login/Register Modal -->
        <div class="modal fade" id="modal-login-register" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal--login" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="modal-account-holder">

                            <div class="modal-account__item">
                                 <button type="button" class="close btn_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div class="modal-form--note"><p>Регистрация и авторизация работает через SteamOpenID,
                                        вы будете перенаправлены на соответствующую страницу сервиса STEAM,
                                        где нужно будет ввести свой логин и пароль. </p>
                                        Мы гарантируем, что :
                                        <ul>
                                            <li><strong>Учётные данные вашего аккаунта Steam не будут переданы третьим лицам.</strong></li>
                                            <li>
                                                Уникальный цифровой идентификатор будет передан на наш сайт. Благодаря этому мы сможем идентифицировать ваш профиль Steam и получить доступ к той информации о нём, которую вы сделали общедоступной.
                                            </li>
                                            <li>
                                            Сайт получит доступ к любой общедоступной информации из вашего профиля Steam.
                                            </li>
                                        </ul>



                                    </div>

                            </div>
                           <div class="modal-account__item">
                                <img src="/static/images/logo.png" style="
    margin: auto;
    display: block;
">
                                <img src="/static/images/steam.png" style="
    margin: auto;
    display: block;
    margin-bottom: 40px;
">


                                <a href="/login/steam/" class="btn btn-warning btn-outline btn-sm" style="
    margin: auto;
    display: block;
"> <i style="font-size: 18px" class="fa fa-steam fa-3" aria-hidden="true"></i><span style="font-size: 18px"> ВОЙТИ ЧЕРЕЗ STEAM</span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login/Register Modal / End -->
   {% endif %}

{% if profile_bad and user.is_authenticated %}
      <div class="modal fade" id="modal-activate" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal--login" role="document">
                <div class="modal-content">

                    <div style=" padding: 15px 15px 0px 15px;" class="modal-body">


                    <div class="alert alert-danger"><strong>ТВОЙ АККАУНТ НЕ АКТИВИРОВАН ! ДЛЯ АКТИВАЦИИ ОТПРАВЬ ЛИЧНОЕ СООБЩЕНИЕ SURVIVAL BOT В ДИСКОРДЕ С ТЕКСТОМ: </strong><input class="activate_input" id="activate_command" value="!activate {{ request.user.steamid }}" >  <button id="copy_activate" type="button" class="btn btn-xs btn-danger btn-outline alert-btn-right" onclick="copyToClipboardSteamId()">СКОПИРОВАТЬ В БУФЕР</button></div>


                    </div>
                </div>
            </div>
        </div>


 {% endif %}