{% load static %}
  <footer class="edgtf-page-footer ">
        <div class="edgtf-footer-top-holder">
            <div class="edgtf-footer-top-inner edgtf-grid">
                <div class="edgtf-grid-row edgtf-footer-top-alignment-center">
                    <div class="edgtf-column-content edgtf-grid-col-12">
                        <div id="media_image-2" class="widget edgtf-footer-column-1 widget_media_image"><img src="{% static 'images/logo.png' %}" class="image wp-image-2097  attachment-full size-full" alt="d" style="max-width: 100%; height: auto;" /></div>
                        <div class="footer-text">Нравится игра SCUM? Но надоели сервера с лагами, читерами ,малым онлайном, нестабильностью и пассивной администрацией? Тогда вам к нам !<br>
                            Наши администраторы не играют на серверах с правами администратора, как другие игроки, они строго администраторы. Нет админских отрядов, нет админских баз, нет админских злоупотреблений</div>
                        <div id="text-4" class="widget edgtf-footer-column-1 widget_text">
                            <div class="textwidget">
                                <div class="footer-custom-menu">
                                    <ul>
                                        <li><a href="https://tetsuo.edge-themes.com">Купить SCUM</a></li>
                                        <li><a href="https://tetsuo.edge-themes.com/about-me/">Правила сервера</a></li>
                                        <li><a href="https://tetsuo.edge-themes.com/blog-standard/">Как подключиться</a></li>
                                        <li><a href="https://tetsuo.edge-themes.com/shop/">Наш Discord</a></li>
                                        <li><a href="https://tetsuo.edge-themes.com/contact-me/">Группа ВК </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% if  profile_bad and  user.is_authenticated %}

    <div id="modal-activate" class="modal">


  <div class="modal-content">
      <div class="modal-header">
        <h4>ТВОЙ АККАУНТ НЕ АКТИВИРОВАН ! </h4>

      </div>

    <div class="modal-form">

          <p>ДЛЯ АКТИВАЦИИ ОТПРАВЬ
                        ЛИЧНОЕ СООБЩЕНИЕ SURVIVAL BOT В ДИСКОРДЕ С ТЕКСТОМ: </p>

                        <input style=" width: 27%;display: block;" class="activate_input" id="activate_command" value="!activate {{ request.user.steamid }}" >

              <button style="    border: none;
    background: red;
    padding: 5px 57px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;" id="copy_activate" type="button" onclick="copyToClipboardSteamId()">СКОПИРОВАТЬ В БУФЕР</button>

    </div>

  </div>

</div>
{% endif %}

