{% load static %}
        <header class="edgtf-page-header">

            <div class="edgtf-menu-area edgtf-menu-right">

                <div class="edgtf-vertical-align-containers">
                    <div class="edgtf-position-left">
                        <div class="edgtf-position-left-inner">

                            <div style="    margin-top: 10px;" class="edgtf-logo-wrapper">
                                <span style="color: #ff7e1f" class="scum-font">HARDCORE</span>
                                <a itemprop="url" href="/">
                                    <span style="    margin-top: -5px;" class="edgtf-logo-text scum-font" data-text="SCUM">SCUM</span>
                                </a>
                                <a itemprop="url" href="/">
                                    <span style="    margin-top: -26px;font-size: smaller;" class="edgtf-logo-text " data-text="SCUM">GAMESCUM.RU</span>
                                </a>

                            </div>

                        </div>
                    </div>
                    <div class="edgtf-position-right">
                        <div class="edgtf-position-right-inner">

                            <nav class="edgtf-main-menu edgtf-drop-down edgtf-default-nav">
                                <ul id="menu-main-menu" class="clearfix">
                                    <li id="nav-menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow"><a href="#" class=""><span class="item_outer"><span class="item_text">СЕРВЕР</span><i class="edgtf-menu-arrow fa fa-angle-down"></i></span></a>
                                        <div class="second">
                                            <div class="inner">
                                                <ul>
                                                    <li id="nav-menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'about_us' %}" class=""><span class="item_outer"><span class="item_text">О ПРОЕКТЕ</span></span></a></li>
                                                   <li id="nav-menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'settings' %}" class=""><span class="item_outer"><span class="item_text">НАСТРОЙКИ СЕРВЕРА</span></span></a></li>
                                                    <li id="nav-menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'rules' %}" class=""><span class="item_outer"><span class="item_text">ПРАВИЛА СЕРВЕРА</span></span></a></li>
                                                    <li id="nav-menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'support' %}" class=""><span class="item_outer"><span class="item_text">ПОМОЩЬ СЕРВЕРУ</span></span></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- current-menu-ancestor current-menu-parent edgtf-active-item-->
                                    <li id="nav-menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom   menu-item-has-children  has_sub narrow"><a href="#" class=" current "><span class="item_outer"><span class="item_text">СТАТИСТИКА</span><i class="edgtf-menu-arrow fa fa-angle-down"></i></span></a>
                                        <div class="second">
                                            <div class="inner">
                                                <ul>
                                                    <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'server_stat' %}" class=""><span class="item_outer"><span class="item_text">СТАТИСТИКА СЕРВЕРА</span></span></a></li>
                                                    <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'players' %}" class=""><span class="item_outer"><span class="item_text">ТОП 20 ИГРОКОВ</span></span></a></li>
                                                    <li id="nav-menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span class="item_outer"><span class="item_text">ТОП 3 ОТРЯДЫ</span></span></a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="nav-menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom   menu-item-has-children  has_sub narrow"><a href="#" class=" current "><span class="item_outer"><span class="item_text">ОТРЯДЫ</span><i class="edgtf-menu-arrow fa fa-angle-down"></i></span></a>
                                        <div class="second">
                                            <div class="inner">
                                                <ul>
                                                    <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span class="item_outer"><span class="item_text">ВСЕ ОТРЯДЫ</span></span></a></li>
                                                    <li id="nav-menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span class="item_outer"><span class="item_text">ВОЙНА ЗА СЕКТОРА</span></span></a></li>
                                                    <li id="nav-menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span class="item_outer"><span class="item_text">ИСПЫТАНИЯ</span></span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="nav-menu-item-28" class="menu-item menu-item-type-custom menu-item-object-custom "><a href="{% url 'events_home' %}" class=""><span class="item_outer"><span class="item_text">МЕРОПРИЯТИЯ</span></span></a>

                                    </li>
                                    <li id="nav-menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom "><a href="{% url 'shop_home' %}" class=""><span class="item_outer"><span class="item_text">BLACKMARKET</span></span></a>

                                    </li>
                                     {% if user.is_authenticated %}
                                         <li id="nav-menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom   menu-item-has-children  has_sub narrow"><a href="#" class=" current "><span class="item_outer"><span class="item_text">ЛК</span> <i class="fa fa-angle-down"></i></span></a>
                                            <div class="second">
                                                <div class="inner">
                                                    <ul>
                                                         {% if user.is_staff %}
                                                              <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'stat' %}" class=""><span class="item_outer"><span class="item_text">Админ раздел</span></span></a></li>
                                                                <li> <hr style="width: 90%;"></li>
                                                         {% endif %}

                                                        <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'profile' user.nickname %}" class=""><span class="item_outer"><span class="item_text">Персональная информация</span></span></a></li>
                                                        <li id="nav-menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'profile' user.nickname %}#pm" class=""><span class="item_outer"><span class="item_text">Cообщения
                                                            {% if pm.count > 0 %}<span  class="highlight"> <span id="pm_count">{{ pm.count }}</span></span>{% endif %}
                                                            </span></span> </a>
                                                        </li>
                                                        <li id="nav-menu-item-752" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'profile' user.nickname %}#pm" class=""><span class="item_outer"><span class="item_text">Заказы
                                                            {% if orders_count > 0 %}<span  class="highlight"> {{ orders_count }}</span>{% endif %}
                                                            </span></span></a>
                                                        </li>
                                                        <li> <hr style="width: 90%;"></li>
                                                          {% if user.is_squad_leader  %}
                                                                 <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'profile' user.nickname %}#squad" class=""><span class="item_outer"><span class="item_text">Управление отрядом</span></span></a></li>
{#                                                            {% if  in_war  %}#}
{#                                                                <a class="dropdown-item" href="{% url 'all_squads'%}#sectors_map"><strong>Оспаривание сектора</strong></a>#}
{#                                                            {% endif %}#}
                                                        {% else %}
                                                            {% if  not player_squad_member %}
                                                                <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'profile' user.nickname %}#squad" class=""><span class="item_outer"><span class="item_text">Создать отряд</span></span></a></li>

                                                            {% else %}
                                                                 <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'profile' user.nickname %}#squad" class=""><span class="item_outer"><span class="item_text">Мой отряд</span></span></a></li>

                                                            {% endif %}
                                                        {% endif %}
                                                        <li> <hr style="width: 90%;"></li>
                                                         <li id="nav-menu-item-845" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'logout' %}" class=""><span class="item_outer"><span class="item_text">ВЫХОД</span></span></a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                         {% else %}
                                        <div class="edgtf-shopping-cart-holder">
                                <div style="display: flex; align-items: center" class="edgtf-shopping-cart-inner">
                                   <a style="border: 2px solid #ec4e00;padding: 0 9px !important;"   href="/login/steam/"   class="edgtf-btn edgtf-btn-medium edgtf-btn-simple"  >
                                                <span style="font-size: 12px" class="edgtf-split-item-prim">ВХОД / РЕГИСТРАЦИЯ</span>
                                        <span style="font-size: 12px" class="edgtf-split-item-sec">ВХОД / РЕГИСТРАЦИЯ</span>
                                    </a>
                                    <div class="edgtf-shopping-cart-dropdown">
                                        <div>
                                            <ul>
                                                <li><img src="{% static 'images/steam.png' %}"></li>

                                            <li>Регистрация и авторизация работает через SteamOpenID,
                                вы будете перенаправлены на соответствующую страницу сервиса STEAM,
                                где нужно будет ввести свой логин и пароль.<br><br>
                                <strong>Мы гарантируем, что  учётные данные вашего аккаунта Steam не будут переданы третьим лицам.</strong><br>
                                        </li>

                                </ul>

                                        </div>

                                    </div>
                                </div>
                            </div>
                                    {% endif %}

                                </ul>
                            </nav>
                            {% if user.is_authenticated %}
                            <div class="edgtf-shopping-cart-holder">
                                <div class="edgtf-shopping-cart-inner">
                                    <a itemprop="url" class="edgtf-header-cart edgtf-header-cart-svg-path" href="#">
                                        <span class="edgtf-cart-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="18.998px" height="20.998px" viewBox="0 0 18.998 20.998" enable-background="new 0 0 18.998 20.998" xml:space="preserve">
                                            <path fill="#231F20" d="M16.917,4h-2.916V0h-9v4H2.042L0,20.998h18.998L16.917,4z M7.001,2h5v2h-5V2z M2.818,18.498L4.26,6.5h0.741
                                                h9h0.703l1.469,11.998H2.818z"/>
                                            </svg>
                                        </span>
                                        <span id="count_items_in_cart" class="edgtf-cart-number">{{ count_items_in_cart }}</span>
                                    </a>
                                    <div class="edgtf-shopping-cart-dropdown">
                                        <ul class="header-cart">
                                            {% for item_in_backet in all_items_in_cart %}
                                                {% if item_in_backet.item.id %}
                                                    <li>
                                                        <div class="edgtf-item-image-holder">
                                                            <a itemprop="url" href="{% url 'shop_show_item' item_in_backet.item.name_slug %}">
                                                                <img width="300" height="300" src="{{ item_in_backet.item.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" /> </a>
                                                        </div>
                                                        <div class="edgtf-item-info-holder">
                                                            <h5 itemprop="name" class="edgtf-product-title">
                                                                <a itemprop="url" href="{% url 'shop_show_item' item_in_backet.item.name_slug %}">{{ item_in_backet.item.name }}</a>
                                                            </h5>
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>{{ item_in_backet.current_price }} RC</span> <span class="edgtf-quantity"> x {{ item_in_backet.number }} = {{ item_in_backet.total_price }} RC</span>
                                                            <a href="#" class="remove" data-item_id="{{  item_in_backet.item.id }}" data-subitem_id="0" onclick="delete_from_cart(this);return false;">&#215;</a> </div>
                                                    </li>
                                                {% endif %}

                                                {% if item_in_backet.subitem.id %}
                                                      <li>
                                                        <div class="edgtf-item-image-holder">
                                                            <a itemprop="url" href="{% url 'shop_show_item' item_in_backet.subitem.item.name_slug %}?i={{ item_in_backet.subitem.id }}">
                                                                <img width="300" height="300" src="{{ item_in_backet.subitem.image.url }}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail wp-post-image" alt="a" /> </a>
                                                        </div>
                                                        <div class="edgtf-item-info-holder">
                                                            <h5 itemprop="name" class="edgtf-product-title">
                                                                <a itemprop="url" href="{% url 'shop_show_item' item_in_backet.subitem.item.name_slug %}?i={{ item_in_backet.subitem.id }}">{{ item_in_backet.subitem.item.name }} {{ item_in_backet.subitem.color_name }}</a>
                                                            </h5>
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>{{ item_in_backet.current_price }} RC</span> <span class="edgtf-quantity"> x {{ item_in_backet.number }} = {{ item_in_backet.total_price }} RC</span>
                                                            <a href="#" class="remove" data-item_id="0" data-subitem_id="{{ item_in_backet.subitem.id }}" onclick="delete_from_cart(this);return false;">&#215;</a> </div>
                                                    </li>
                                                {% endif %}


                                            {% endfor %}
                                        {% if all_items_in_cart.count > 0 %}

                                            <li class="edgtf-cart-bottom">
                                                <div class="edgtf-subtotal-holder clearfix">
                                                    <span class="edgtf-total">Итого:</span>
                                                        <span class="edgtf-total-amount">
										                 <span class="woocommerce-Price-amount amount">{{ total_cart_price }} RC</span>
                                                        </span>
                                                </div>


                                                <a itemprop="url" href="{% url 'order' %}" class="btn-outline cart-btn btn-xs">Оформить заказ</a>

                                            </li>

                                        {% else %}
                                             <li > КОРЗИНА ПУСТА </li>
                                        {% endif %}


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}


                        </div>
                    </div>
                </div>

            </div>

        </header>

        <header class="edgtf-mobile-header">

            <div class="edgtf-mobile-header-inner">
                <div class="edgtf-mobile-header-holder">
                    <div class="edgtf-grid">
                        <div class="edgtf-vertical-align-containers">
                            <div class="edgtf-vertical-align-containers">
                                <div class="edgtf-mobile-menu-opener edgtf-mobile-menu-opener-svg-path">
                                    <a href="javascript:void(0)">
                                            <span class="edgtf-mobile-menu-icon">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="36" height="17" viewBox="0 0 36 17" enable-background="new 0 0 36 17" xml:space="preserve">
<rect width="16" height="3"></rect>
<rect y="14" width="16" height="3"></rect>
<rect x="20" y="14" width="16" height="3"></rect>
<rect x="20" width="16" height="3"></rect>
<rect y="7" width="36" height="3"></rect>
</svg>									</span>
                                    </a>
                                </div>
                                <div class="edgtf-position-center">
                                    <!--
                     -->
                                    <div class="edgtf-position-center-inner">

                                        <div class="edgtf-mobile-logo-wrapper">
                                            <a itemprop="url" href="/">
                                                    <span class="edgtf-mobile-logo-text">
                GAMESCUM.RU            </span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="edgtf-position-right">
                                    <!--
                     -->
                                    <div class="edgtf-position-right-inner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="edgtf-mobile-nav">
                    <div class="edgtf-grid">
                        <ul id="menu-main-menu-1" class="">
                            <li id="mobile-menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children edgtf-active-item has_sub"><a href="/" class=" current  edgtf-mobile-no-link"><span>Главная</span></a>

                            </li>
                            <li id="mobile-menu-item-27" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>СЕРВЕР</span></a>
                                <ul class="sub_menu">
                                    <li id="mobile-menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'about_us' %}" class=""><span>О ПРОЕКТЕ</span></a></li>
                                        <li id="mobile-menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'settings' %}" class=""><span>НАСТРОЙКИ СЕРВЕРА</span></a></li>
                                    <li id="mobile-menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'rules' %}" class=""><span>ПРАВИЛА СЕРВЕРА</span></a></li>
                                    <li id="mobile-menu-item-236" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="{% url 'support' %}" class=""><span>ПОМОЩЬ СЕРВЕРУ</span></a></li>
                                </ul>
                            </li>
                            <li id="mobile-menu-item-29" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>СТАТИСТИКА</span></a>
                                <ul class="sub_menu">
                                    <li id="mobile-menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>ТОП 30 ИГРОКОВ</span></a></li>
                                    <li id="mobile-menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>ТОП 3 ОТРЯДА</span></a></li>

                                </ul>
                            </li>
                            <li id="mobile-menu-item-290" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>ОТРЯДЫ</span></a>
                                <ul class="sub_menu">
                                    <li id="mobile-menu-item-291" class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#" class=""><span>ВСЕ ОТРЯДЫ СЕРВЕРА</span></a></li>
                                    <li id="mobile-menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="#" class=""><span>ВОЙНА ЗА СЕКТОРА</span></a></li>
                                    <li id="mobile-menu-item-396" class="menu-item menu-item-type-post_type menu-item-object-product "><a href="#" class=""><span>ИСПЫТАНИЯ</span></a></li>

                                </ul>
                            </li>
                            <li id="mobile-menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="{% url 'events_home' %}" class=" edgtf-mobile-no-link"><span>МЕРОПРИЯТИЯ</span></a>

                            </li>
                            <li id="mobile-menu-item-31" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub"><a href="#" class=" edgtf-mobile-no-link"><span>BLACKMARKET</span></a>

                            </li>
                        </ul>
                    </div>
                </nav>

            </div>

        </header>

