{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <!-- Page Heading
       ================================================== -->
    <div class="page-heading" style="background-image: url({% static 'images/events.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-6">
                    <h1 class="page-heading__title font_scum">СОБЫТИЯ <span class="highlight">СЕРВЕРА</span></h1>
                    <ol class="page-heading__breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">МЕРОПРИЯТИЯ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Heading / End -->
    <!-- Content
    ================================================== -->
    <div class="site-content">
        <div class="container">

            <div id="accordion">
                {% for event in all_events %}
                    <div class="card">
                        <div class="card-header" id="heading{{ event.id }}">
                            <h5 class="mb-0">

                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ event.id }}" aria-expanded="true" aria-controls="collapse{{ event.id }}">

                                    <table style="width: 600px;">
                                        <tr>
                                            <td><span>Дата :</span> {{ event.date.date|date:"D, d M, Y" }} | Время: {{ event.date.time|time:"H:i" }}</td>
                                            <td>Название : {{ event.template.name }}</td>
                                            <td>Участников :
                                                {%  if event.eventplayers_set.count > 0 %}
                                                    {{ event.eventplayers_set.count }}
                                                {% else %}
                                                    НЕТ
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>





                                </button>

                            </h5>
                        </div>

                        <div id="collapse{{ event.id }}" class="collapse" aria-labelledby="heading{{ event.id }}" data-parent="#accordion">
                            <div class="card-body">


                             {% if user.is_authenticated %}

                                    <div style="margin-top: 20px">
                                        <a style="position: absolute; right: 23px;" href="{% url 'event_apply' event.id %}" class="btn btn-warning btn-sm pull-left">Записаться</a>

                                    </div>
                                {% endif %}
                                <img style=" width: 350px;float: left; padding: 10px;" src="{{ event.template.image.url }}">
                                <div>
                                    <h4 align="center">Описание события </h4>

                                    {{ event.template.info }}
                                </div>

                                <div style="margin-top: 10px">
                                    <h4 align="center">Награда</h4>


                                     {% for reward in  event.eventreward_set.all %}

                                         <img style="margin-right: 20px;" width="50" src="{{ reward.reward_image.url }}"> <span style="margin-right: 20px;
    font-size: 20px;
    font-weight: bold;">X</span> <span style="margin-right: 20px;
    font-size: 20px;
    font-weight: bold;">{{ reward.reward_number }}</span> <span style="margin-right: 20px;
    font-size: 20px;
    font-weight: bold;">{{ reward.reward_name }}</span><br>



                                    {% endfor %}

                                   
                                </div>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Content / End -->
{% endblock %}